.account-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.6rem;

  .main-account {
    display: flex;
    flex-direction: column;
    align-items: center;

    .signIn-box {
      border-radius: 6.3rem;
      border: 0.1rem solid #000000;
      background: #262626;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      padding: 0.4rem 4rem 0.4rem 4rem;
    }

    .createBtn-box {
      border-radius: 6.3rem;
      border: 0.1rem solid #000000;
      margin: 0 0.1rem 1rem 0.1rem;
      padding: 0.4rem 3rem 0.4rem 3rem;
    }
    .btn-txt-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      //! klicka här texten
      .click-txt {
        text-decoration: underline;
      }
    }
  }
}
