.accommodation {
  .detail-main {
    margin: 1rem 0rem 4rem 0rem;
    h1 {
      font-size: 2rem;
    }
    p {
      //font-family: SwedenSansRegular;
    }
    .seasonPrice-box {
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;
      margin-bottom: 1rem;
      color: #8b8f73;
      .season-box {
        display: flex;
        flex: 0 0 60%;

        justify-content: space-between;
      }
      .price-box {
        display: flex;
        p {
          text-transform: uppercase;
        }
      }
    }

    .location-box {
      display: flex;
      align-items: center;
    }
    .circleRating-box {
      display: flex;
      align-items: center;
      //!Detta kan man ta ut och göra som en komponent göra till en komponent
      .circle-box {
        margin-bottom: 0.8rem;
        margin-top: 0.75rem;
        display: flex;

        align-self: flex-start;
        column-gap: 0.2rem;
        width: 3.9rem;

        .ellipse {
          border-radius: 0.3rem;
          background: #e7ae4d;
          width: 0.6rem;
          height: 0.6rem;
          &.border {
            border: 1px solid #e7ae4d;
            background-color: white;
          }
        }
      }
      p {
        margin-left: 0.5rem;
      }
    }
    .regularTxt {
      font-family: SwedenSansRegular;
    }
    //!Lär mer knappen/collapsiblen under info texten
    .readMore {
      margin-top: 0.5rem;
      text-decoration: underline;
    }
    .chipsBox {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5rem;

      .chipsFilter {
        border-radius: 6.3rem;
        border: 0.1rem solid #141414;
        display: flex;
        padding: 0.3rem 1rem;
        margin-top: 0.5rem;
        align-items: center;
        .iconChipsBox {
          .chipsIcon {
            font-size: 1rem;
          }
        }
        .chipsTxt {
          padding-left: 0.25rem;
          font-size: 12px;
        }
      }
    }
    .btnBookWebsite {
      border-radius: 6.3rem;
      border: 0.1rem solid #141414;
      display: flex;
      padding: 1.2rem 1rem;
      margin-top: 0.5rem;

      //align-items: center;
    }
  }
}
