.accommodation {
  .detail-main {
    margin: 1rem 0rem 4rem 0rem;
    h1 {
      font-size: 2rem;
    }
    p {
      //font-family: SwedenSansRegular;
    }
    .seasonPrice-box {
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;
      margin-bottom: 1rem;
      color: #8b8f73;
      .season-box {
        display: flex;
        flex: 0 0 60%;

        justify-content: space-between;
      }
      .price-box {
        display: flex;
        p {
          text-transform: uppercase;
        }
      }
    }

    .location-box {
      display: flex;
      align-items: center;
    }
    .circleRating-box {
      display: flex;
      align-items: center;
      //!Detta kan man ta ut och göra som en komponent göra till en komponent
      .circle-box {
        margin-bottom: 0.8rem;
        margin-top: 0.75rem;
        display: flex;

        align-self: flex-start;
        column-gap: 0.2rem;
        width: 3.9rem;

        .ellipse {
          border-radius: 0.3rem;
          background: #e7ae4d;
          width: 0.6rem;
          height: 0.6rem;
          &.border {
            border: 1px solid #e7ae4d;
            background-color: white;
          }
        }
      }
      p {
        margin-left: 0.5rem;
      }
    }

    //!Lär mer knappen/collapsiblen under info texten
    .readMore {
      margin-top: 0.5rem;
      text-decoration: underline;
    }
    .chipsBox {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5rem;

      .chipsFilter {
        border-radius: 6.3rem;
        border: 0.1rem solid #141414;
        display: flex;
        padding: 0.3rem 1rem;
        margin-top: 0.5rem;
        align-items: center;

        .iconChipsBox {
          .chipsIcon {
            font-size: 1rem;
          }
        }
        .chipsTxt {
          padding-left: 0.25rem;
          font-size: 12px;
        }
      }
    }
    .btnBookWebsite {
      border-radius: 6.3rem;
      border: 0.1rem solid #485c55;
      //   display: flex;
      //   padding: 1.2rem 1rem;
      margin-top: 3rem;
      display: flex;
      padding: 0.75rem 1.8125rem;
      justify-content: space-between;
      align-items: center;
      width: 192px;

      //gap: var(--Spacing-spacing-6, 0.625rem);

      background-color: #485c55;
      a {
        color: white;
        white-space: nowrap;
        font-size: 12px;
      }

      .openNewIcon {
        color: white;
        font-size: 20px;
      }
    }
    .accommodationSection {
      margin-top: 6rem;
      .h2 {
        font-size: 20px;
      }
      ul {
        font-family: SwedenSansBook;
        color: #646464;
        list-style-type: disc;
        li {
          margin-left: 1rem;
          margin-top: 1rem;
        }
      }
      .accoPic-box {
        margin-top: 1.25rem;
        display: flex;
        gap: 0.13rem;
        justify-content: center;
        .highPic-box {
          width: 10.125rem;
          //   height: 18.875rem;
          height: 302px;
          img {
            height: 100%;
          }
        }
        .twoPic-box {
          margin-bottom: 0.13rem;
          width: 10.125rem;
          //   height: 9.375rem;
          height: 150px;
          img {
            height: 100%;
          }
          .mt-accoPic {
            margin-top: 0.13rem;
          }
        }
      }
      .seeAllPicBtn {
        display: flex;
        width: 9.75rem;
        padding: 0.75rem 1.8125rem;
        margin-top: 1.25rem;

        justify-content: center;
        align-items: center;
        border-radius: 6.3rem;
        border: 0.1rem solid #485c55;
        a {
          white-space: nowrap;
        }
      }
    }
    .activitiesSection {
      margin-top: 3rem;

      .li-activites {
        display: flex;
        align-items: center;
        padding-top: 1.125rem;

        p {
          padding-left: 0.813rem;
        }
      }
      a {
        margin-top: 1.125rem;
        text-decoration: underline;
      }
    }
    .whereItIs-section {
      margin-top: 6rem;
      .showPlaceMap {
        margin-top: 1rem;
      }
      .map-box {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
      }
      .info-box {
        margin-top: 1rem;
        p {
          font-size: 12px;
          margin-top: 4px;
        }
      }
      p {
        font-size: 12px;
      }
    }
    .reviews-section {
      .reviews-box {
        margin-top: 1rem;
        display: flex;
        max-width: 300px;
        overflow-x: auto;

        .review-card {
          display: flex;
          padding: 0.875rem 1rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.75rem;
          border: 1px solid #dedede;
          border-radius: 2px;

          width: 14.625rem;
          .PicContent-box {
            display: flex;
            align-items: center;
            figure {
              width: 2.1875rem;
              height: 2.1875rem;
              border-radius: 3.4375rem;
              background: url(/assets/img/profilpic.jpg);
              background-size: cover;
            }
            .nameCircle-box {
              margin-left: 1rem;
              .circleHowLong-box {
              }
            }
          }
          p {
            color: #141414;

            font-family: "Sweden Sans";
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            width: 12.5rem;
          }
        }
      }
      .seeMoreReviweBtn {
        display: flex;
        width: 13.875rem;
        padding: 0.75rem 1.8125rem;
        margin-top: 1.25rem;

        justify-content: center;
        align-items: center;
        border-radius: 6.3rem;
        border: 0.1rem solid #485c55;
        a {
          white-space: nowrap;
          font-family: "Sweden Sans";
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.02rem;
          text-transform: uppercase;
        }
      }
    }
    .contact-section {
      .location-box {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        // .contactTxt-box {
        //   margin-left: 1rem;
        // }
      }
    }

    //align-items: center;
  }
  //! Fick flytta ut dessa från nestlandet, fungerade bara när jag tog ut det här
  .location-box {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    // .contactTxt-box {
    //   margin-left: 1rem;
    // }
    .contactTxt-box {
      margin-left: 0.5rem;
      line-height: 135%;
    }
  }

  h2 {
    font-size: 20px;
  }
  .sweBookFont {
    font-family: SwedenSansBook;
  }
  .regularTxt {
    font-family: SwedenSansRegular;
  }
  .ml {
    margin-left: 1rem;
  }
  .icons-li {
    font-size: 20px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .reviews-box::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .reviews-box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  //! Denna koden används dubbelt här och längre upp, detta kan man nog göra bättre/återanvända
  .circleRating-box {
    display: flex;
    align-items: center;
    // margin-top: 0rem;

    //!Detta kan man ta ut och göra som en komponent
    .circle-box {
      margin-bottom: 0.8rem;
      // margin-top: 0.75rem;
      display: flex;

      align-self: flex-start;
      column-gap: 0.2rem;
      width: 3.9rem;

      .ellipse {
        border-radius: 0.3rem;
        background: #e7ae4d;
        width: 0.6rem;
        height: 0.6rem;
        &.border {
          border: 1px solid #e7ae4d;
          background-color: white;
        }
      }
    }
    p {
      margin-left: 0.5rem;
    }
  }
}
