.big-container {
  background: #ffffff;
  padding: 3.9rem 0 0rem 0;
  .main-saved {
    margin: 0 1rem 1.4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profilPic-textBox {
      margin: 0 0rem 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;

      //! Profilbild box
      .profil-pic-box {
        border-radius: 4.1rem;
        background-image: url("/assets/img/profilpic.jpg");
        background-size: cover;
      }
    }

    //! containern för texten och fake chipsen
    .textChips-container {
      margin: 2rem 1rem 2rem 1rem;
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;

      //!Boxen för text och penna
      .txtPen-box {
        margin: 0 0.1rem 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: calc(100% - 0.1rem);
      }

      //! containern för fake chipsen
      .container-fakeChips {
        margin-bottom: 0.5rem;
        display: flex;
        column-gap: 0.5rem;

        .chipsFilter {
          border-radius: 6.3rem;
          border: 0.1rem solid #141414;
          display: flex;
          padding: 0.7rem 2rem;
        }
      }
    }
    .editPenBox {
      display: flex;
      .penEditimg {
        height: 1rem;
        width: 1rem;
        margin-left: 0.5rem;
      }
    }

    //! text boxen för texten under bordern
    .txt-box-about {
      margin: 0 1rem 2.9rem 1rem;
      display: flex;
      justify-content: center;
      align-self: flex-start;
    }
    //! TYPOGRAFI stil på texten under bordern

    //!containern för hjärtat
    .saved-box-profil {
      margin: 0 0 2.3rem 0.2rem;
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
    }

    //! container runt ikoner och texten längst ner
    .iconTxt-containerBtm {
      margin: 0 1rem 6.8rem 1rem;
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      .iconBox {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        .icoon {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
