// @import "/assets/sass/layout/nav";

.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;
  margin-bottom: 5rem;

  .besksml-4 {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: rgba(43, 43, 43, 0.5);
  }
  .saved-box {
    margin: 0.6rem 1.7rem 0.6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mappar-text {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: #2b2b2b;
    text-decoration: none;

    &.txtColor {
      color: #959595;
    }
  }

  //! Frame som är aktiv ikon till vänster

  .format-list-bulleted {
    margin: 0.3rem 0 0.6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.2rem;
    height: 0.9rem;
    box-sizing: border-box;
  }
  .share-filter-box {
    display: flex;

    width: 6.2rem;
  }

  .icround-plus {
    margin: 0.1rem 1.3rem 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
  }

  .search {
    margin-right: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }

  .more-vert {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1rem;
    height: 0.3rem;
    box-sizing: border-box;
  }

  .icon-box {
    margin: 0 0.3rem 2rem 0.1rem;
    display: flex;
    justify-content: space-between;

    .search-add-box {
      margin: 0.2rem 0 0.5rem 0;
      display: flex;
      align-items: center;
      width: 5.4rem;
      height: fit-content;
    }
  }
  //! Shared ikonerna (people icon)
  .shared-icon {
    width: 1.3rem;
    height: 0.8rem;
  }

  //! Försökte byta namn här med, men gick inte precis som jag testade på en annan klass, vet inte varför, har inte vart några problem tidigare
  .kort-medium {
    display: flex;
    flex: 0 0 calc(100% / 2 - 0.5rem);
    flex-direction: column;

    .folder-open {
      background-image: url("/assets/img/camping.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0.8rem;
      display: flex;
      padding: 0.5rem 0 0 0.5rem;
      .share-icon-box {
        border-radius: 6.3rem;
        background: #ffffff;
        margin-bottom: 4.1rem;
        padding: 0.5rem 0.3rem 0.4rem 0.3rem;
        height: 2rem;
        width: 2rem;
      }
    }
  }
  //!Till ikonerna under prfilbild
  .text-box-saved-maps {
    margin-bottom: 2rem;
    display: flex;

    width: fit-content;
  }
  .maps-box {
    border-bottom: 0.1rem solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.6rem 0.1rem 0.5rem 0;
  }

  .map-box {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .map-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .icon-mapp-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main-saved {
    margin: 0 1rem 1.4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
  }
}

//!Försökte byta namnet till columnIcon ist för vector-4 men något knas blev det för fungerade inte, stod att vector-4 var kvar i css filen, vet inte om det vara pga det
.vector-4 {
  width: 1.1rem;
  height: 1.1rem;
}
.columnIcon {
  width: 1.1rem;
  height: 1.1rem;
}
