// @import "/assets/sass/layout/nav";

.big-container {
  margin-bottom: 7rem;
  // .besksml-4 {
  //   overflow-wrap: break-word;
  //   font-family: "Roboto";
  //   font-weight: 500;
  //   font-size: 1rem;
  //   color: rgba(43, 43, 43, 0.5);
  // }

  .mappar-text {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: #fafafa;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &.txtColor {
      color: #485c55;
    }
  }
  .redDott-icon {
    color: #d66e38;
    font-size: 1.1rem;

    font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  }
  .mapNotification-box {
    display: flex;
    align-items: center;
  }
  .redDott-icon-bigger {
    color: #d66e38;
    font-size: 1.4rem;

    font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  }

  .icround-plus {
    margin: 0.1rem 1.3rem 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    //width: 0.9rem;
    //height: 0.9rem;
  }

  .search {
    margin-right: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 1.5rem;
    // height: 1.5rem;
    .search-img {
      width: 24px;
      height: 24px;
    }
  }

  .more-vert {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1rem;
    height: 0.3rem;
  }
  .icon-size {
    // font-size: 1.5rem;
  }

  //! Shared ikonerna (people icon)
  .shared-icon {
    width: 1.3rem;
    height: 0.8rem;
  }
}
