// @import "/assets/sass/layout/nav";

.big-container {
  margin-bottom: 7rem;
  .besksml-4 {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: rgba(43, 43, 43, 0.5);
  }

  .mappar-text {
    overflow-wrap: break-word;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
    color: #2b2b2b;
    text-decoration: none;

    &.txtColor {
      color: #959595;
    }
  }

  .icround-plus {
    margin: 0.1rem 1.3rem 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
  }

  .search {
    margin-right: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }

  .more-vert {
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1rem;
    height: 0.3rem;
  }

  //! Shared ikonerna (people icon)
  .shared-icon {
    width: 1.3rem;
    height: 0.8rem;
  }

}
