.big-container {
  .profilPic-textBox {
    margin: 0 0rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  //! Shared ikonerna (people icon)
  .shared-icon {
    width: 1.3rem;
    height: 0.8rem;
  }
  .headingBoox {
    display: flex;
    flex: 1 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    .colorHeading {
      color: #485c55;
    }
  }
}
