@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/nav";
@import "layout/suggestions";

@import "components/accessibility";
@import "components/buttons";
@import "components/chips";
@import "components/searchbar";
@import "components/largeCard";
@import "components/savedResorts";
@import "components/profilPic";
@import "components/folderCards";
@import "components/savedDestinationCard";
@import "components/btnArrowBack";
@import "components/iconbarDestinationMap";
@import "components/tabsDestinationMapps";
@import "pages/home";
// @import "pages/savedmaps";

//Detta måste sorteras
@import "filterpage";
@import "account";
@import "profil";
@import "saveddestinations";
@import "savedmaps";

.flex-container {
  max-width: 1200px;
  //margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: var(--flex-gap);
  margin-bottom: 8rem;

  @media (min-width: 700px) {
    margin: 0 4rem;
  }

  /* Denna kod ska läggas till på lämpligt ställe ex i en komponent partial */
  /* Om ni vill använda gap och vill att det blir smooth med mellanrummen använd denna uträkning */
  /* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */
  /* flex: 0 0 calc((100% / 3) - (((3 - 1) / 3) * 1rem)); */

  //! Ta användinga av detta sen när stylen sätts, så korten flexar sig
  // .flex-item {
  //   --flex-items: 1;
  //   background-color: blue;
  //   border: 1px solid red;
  //   flex: 0 0
  //     calc(
  //       (100% / var(--flex-items)) -
  //         (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap))
  //     );

  //   @media (min-width: 520px) {
  //     --flex-items: 2;
  //   }

  //   @media (min-width: 920px) {
  //     --flex-items: 3;
  //   }
  // }

  .text-box {
    margin-bottom: 3.5rem;
  }

  //! SKRIVER STYLEN FÖR DEN NYA INDEX/STARTSIDAN HÄR ISTÄLLET FÖR ATT GÖRA EN NY
  .suggestion-section {
    // margin-bottom: 8rem;
    display: flex;
    flex-wrap: wrap;

    .inspoTxtBox {
      // margin-left: 0.5rem;
      //! TYpografia som ska flyttas till typografi partials
      h1 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
      }
      h2 {
        // color: #514e4e;
        // font-size: 1.5rem;
        // font-style: normal;
        // font-weight: 700;
        // line-height: normal;
        // margin-bottom: 1rem;
        // margin-top: 3rem;
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }

    .inspiration-box {
      display: flex;
      flex-wrap: wrap;
      flex: 1 auto;
      justify-content: center;
      gap: 1rem;

      .inspirationCard {
        flex: 0 0 calc(100% / 2 - 0.5rem);

        .clickCard {
          .inspoPicBox {
            position: relative;
            //height: 14rem;
            min-width: 10rem;
            flex: 1;
            .txtbg {
              position: absolute;

              background: rgba(255, 255, 255, 0.15);
              backdrop-filter: blur(10px);
              color: #f4f4f4;
              padding: 0.5rem 1.625rem;
              bottom: 3rem;
              left: 50%;
              transform: translateX(-50%) translateY(100%);
            }
          }
        }
      }
      // .showAllLink {
      //   text-decoration: none;
      //   color: black;
      //   .showAllBox {
      //     display: flex;
      //     align-items: center;
      //     .icon {
      //     }
      //   }
      // }
    }
  }
  //! TYpografi som ska flyttas till typografi partials
  h2 {
    // font-size: 1.5rem;
    // font-style: normal;
    // font-weight: 700;
    // line-height: normal;
    // margin-left: 0.5rem;
    // margin-top: 3rem;
    // color: #514e4e;
    margin-bottom: 1rem;
  }
  //!SEKTIONEN BESÖKSMÅL NÄRA MIG
  .destination-section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: center;
    h2 {
      // font-size: 1.5rem;
      // font-style: normal;
      // font-weight: 700;
      // line-height: normal;
      margin-left: 0.5rem;
    }
    .destiCard {
      .clickCard {
        .destinationCloseBox {
          position: relative;
          min-width: 20.5rem;
          height: 9.375rem;
          flex: 1 auto;

          // img {
          //   width: 100%;
          //   //height: 100%;
          //   object-fit: cover;
          // }

          .txtbg-bigPic {
            position: absolute;

            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            color: #f4f4f4;
            padding: 0.5rem 1.625rem;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
          }
        }
      }
    }
    .twoCardbox {
      display: flex;
      flex-wrap: wrap;
      flex: 1 auto;
      justify-content: center;
      //flex: 0 0 calc(100% / 2 - 0.5rem);
      // height: 9.375rem;
      gap: 0.5rem;
      .destiCardSm {
        //flex: 0 0 calc(100% / 2 - 0.5rem);
        margin-top: 1rem;
        .destinationCloseBoxSM {
          position: relative;
          min-width: 10rem;
          height: 9.375rem;
          flex: 1 auto;
          .txtbg-bigPic {
            position: absolute;

            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            color: #f4f4f4;
            padding: 0.5rem 1.625rem;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%) translateY(100%);
          }
        }
      }
    }
    img {
      width: 100%;
      //height: 100%;
      object-fit: cover;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    //margin-left: 0.5rem;
    margin-top: 3rem;
    color: #514e4e;
    // margin-bottom: 1rem;
  }
  .h2-activities {
    margin-bottom: 0rem;
  }

  .showAllLink {
    text-decoration: none;
    color: black;
    .showAllBox {
      display: flex;
      align-items: center;
      .icon {
      }
    }
  }
}
