@charset "UTF-8";
:root {
  /* Variable for gap */
  --flex-gap: 1rem;
  /* Number of flex items*/
  --flex-items: 1;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul,
ol {
  list-style-type: "";
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  margin-top: 4.25rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.saved-resorts h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.saved-resorts p {
  font-size: 0.75rem;
}

.show-all {
  margin-right: 0.8rem;
  font-weight: 400;
  font-size: 1rem;
  color: #141414;
  text-decoration: none;
}

.textbox-suggestions h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #111010;
}

.information-box {
  font-size: 0.8rem;
  color: #141414;
}
.information-box h3 {
  margin-bottom: 0.3rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.chips-filter p {
  font-size: 0.8rem;
  color: #141414;
  padding-left: 0.2rem;
}

.navigation {
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.8rem 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}

.suggestions-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}
.suggestions-container .textbox-suggestions {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
.suggestions-container .suggestionCard-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.suggestions-container .suggestionCard-box .card-large {
  flex: 0 0 328px;
}
.suggestions-container .suggestionCard-box .card-large .img-heart-box {
  background: #d9d9d9;
  position: relative;
  margin-bottom: 0.8rem;
  margin: auto;
}
.suggestions-container .suggestionCard-box .card-large .image {
  opacity: 0.5;
  background-size: cover;
}
.suggestions-container .suggestionCard-box .card-large .image img {
  width: 100%;
  height: 100%;
}
.suggestions-container .suggestionCard-box .card-large .heartIConBox {
  position: absolute;
  top: 1.2rem;
  right: 1.1rem;
  width: 1.5rem;
  height: 1.4rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card {
  padding-top: 1rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box {
  margin-bottom: 0.8rem;
  display: flex;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box .ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .information-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox {
  margin-bottom: 0.3rem;
  display: flex;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  margin-right: 0.25rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter .chip-icon {
  margin: 0.1rem 0.7rem 0.1rem 0;
  display: flex;
  width: 0.7rem;
  height: 0.8rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#categorys {
  margin-top: 1rem;
}

.categori-txt {
  margin-top: 1rem;
  font-weight: 800;
}

.m1b {
  display: flex;
  max-width: 300px;
  overflow-x: auto;
}
.m1b .chip + label {
  background-color: transparent;
  white-space: nowrap;
  flex: 0 0 10%;
  padding: 2rem 0rem;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #141414;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 12px;
}
.m1b .chip[type=checkbox] {
  display: none;
}
.m1b .chip[type=checkbox]:checked + label {
  color: red;
}
.m1b #categoryOne + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryTwo + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryThree + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryFour + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryFive + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categorySix + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categorySeven + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.m1b::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.m1b {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.searchFilter-box {
  display: flex;
  justify-content: space-between;
}
.searchFilter-box #search-bar {
  position: relative;
  flex: 0 0 78%;
}
.searchFilter-box #search-bar #header-search {
  padding: 0.75rem 1.7rem;
  border-radius: 100px;
  border: 1px solid #141414;
  width: 100%;
  background-color: #f2f2f2;
}
.searchFilter-box #search-bar #header-search.focus-border {
  border: 1px solid #141414;
  outline: none;
  box-shadow: 0px 0px 20px gray;
}
.searchFilter-box #search-bar #header-search::-moz-placeholder {
  font-size: 12px; /* Ange önskad fontstorlek här */
}
.searchFilter-box #search-bar #header-search::placeholder {
  font-size: 12px; /* Ange önskad fontstorlek här */
}
.searchFilter-box #search-bar #btn-search {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
}
.searchFilter-box .filter-box {
  flex: 0 0 20%;
}

.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid #f2f2f2;
}

.user-accomodation {
  display: flex;
  justify-content: center;
  padding-top: 0rem;
  gap: 1rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.user-accomodation .card {
  position: relative;
  flex: 1 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 480px) {
  .user-accomodation .card {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media (min-width: 960px) {
  .user-accomodation .card {
    flex: 0 0 calc(25% - 1rem);
  }
}
.user-accomodation .card .like-icon {
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 4rem;
}
.user-accomodation .card .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
}
.user-accomodation .card .card-content .circle-box {
  margin-bottom: 0.8rem;
  margin-top: 0.75rem;
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
}
.user-accomodation .card .card-content .circle-box .ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.user-accomodation .card .card-content .img-box {
  position: relative;
}
.user-accomodation .card .card-content .img-box .like-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0.5rem;
  right: 0.5rem;
}
.user-accomodation .card .card-content .img-box img {
  pointer-events: none;
}
.user-accomodation .card h2 {
  font-size: 1.25rem;
}
.user-accomodation .img-box {
  height: 280px;
  width: 328px;
}
.user-accomodation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-accomodation.hide {
  display: none;
}
.user-accomodation .card-text {
  color: black;
  margin: 0.75rem 0 1rem 0;
}
.user-accomodation .card-text p {
  padding-top: 0.3rem;
  font-size: 0.75rem;
}
.user-accomodation .style-chips {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 1px solid #141414;
}

.saved-resorts {
  margin-top: 2.5rem;
}
.saved-resorts .saved-resorts-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.saved-resorts .saved-resorts-container .saved-resort {
  flex: 0 0 calc(50% - 0.5rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ededed;
}
.saved-resorts .showAll {
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.saved-resorts .showAll .arrow-forrward-icon {
  width: 1rem;
  height: 1rem;
}

/*If you have page-specific styles, it is better to put them in a pages/ folder, in a file named after the page. For instance, it’s not uncommon to have very specific styles for the home page hence the need for a _home.scss file in pages/.*/
.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;
}
.big-container .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
}
.big-container .h1-saved {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
}
.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .besksml-4 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.5);
}
.big-container .saved-box {
  margin: 0.6rem 1.7rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}
.big-container .maps-box {
  border-bottom: 0.1rem solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0.1rem 0.5rem 0;
  box-sizing: border-box;
}
.big-container .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .vector {
  width: 1.2rem;
  height: 1rem;
}
.big-container .misort {
  margin: 0.3rem 1.1rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .rectangle-3 {
  border-radius: 0.1rem;
  border: 0.1rem solid #000000;
  margin-right: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
}
.big-container .frame-2 {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-3 {
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-1 {
  border-bottom: 0.1rem solid #000000;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
  width: 1.5rem;
  box-sizing: border-box;
}
.big-container .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .share-filter-box {
  display: flex;
  flex-direction: row;
  width: 6.2rem;
  box-sizing: border-box;
}
.big-container .vector-2 {
  width: 0.9rem;
  height: 0.9rem;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .vector-4 {
  width: 1.1rem;
  height: 1.1rem;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.big-container .vector-3 {
  width: 1rem;
  height: 0.3rem;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
  box-sizing: border-box;
}
.big-container .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 5.4rem;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.big-container .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.4rem);
  box-sizing: border-box;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}
.big-container .share-icon-box {
  border-radius: 6.3rem;
  background: #ffffff;
  margin-bottom: 4.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.3rem 0.4rem 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: border-box;
}
.big-container .vector-5 {
  margin-top: 2.5rem;
  width: 4.4rem;
  height: 3.4rem;
}
.big-container .folder-open {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0 0 0.5rem;
  width: 100%;
  height: 9.4rem;
  box-sizing: border-box;
}
.big-container .lorem-ipsum {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}
.big-container .saved-accommodations {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .frame-29 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .kort-medium {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 9.7rem;
  box-sizing: border-box;
}
.big-container .frame-291 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .map-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.big-container .frame-292 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-293 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-771 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .map-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .icon-mapp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}
.big-container .nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}
.big-container .home-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .search-1 {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .user-filled {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: border-box;
}
.big-container .arrow-back-top-left {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}

.account-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.6rem;
  box-sizing: border-box;
}
.account-container .logo {
  margin: 0 0.1rem 7.5rem 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
}
.account-container .logga-in {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3rem;
  color: #fafafa;
  text-decoration: none;
}
.account-container .signIn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid #000000;
  background: #262626;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem 4rem 0.4rem 4rem;
}
.account-container .skapa-konto {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
}
.account-container .createBtn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid #000000;
  margin: 0 0.1rem 1rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.4rem 3rem 0.4rem 3rem;
}
.account-container .btn-txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .main-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .txt-password {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration-line: none;
  line-height: 1.333;
}
.account-container .click-txt {
  text-decoration: underline;
}

.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;
}
.big-container .edit {
  position: absolute;
  right: 3rem;
  top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .redigera {
  padding-right: 0.3rem;
}
.big-container .mode-edit {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.8rem;
  height: 0.8rem;
  box-sizing: border-box;
}
.big-container .vector {
  width: 16px;
}
.big-container .textChips-container {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex: calc(100% - 2rem);
  box-sizing: border-box;
}
.big-container .txtPen-box {
  margin: 0 0.1rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.1rem);
  box-sizing: border-box;
}
.big-container .dina-sparade-kategorier {
  font-family: "Roboto";
  font-weight: 400;
  color: #111010;
}
.big-container .underline-border {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  padding-bottom: 1.2rem;
}
.big-container .frame-851 {
  margin: 0.1rem 0 0.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.8rem;
  height: 0.8rem;
  box-sizing: border-box;
}
.big-container .container-fakeChips {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .treehouses {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .container-1 {
  display: flex;
  align-self: flex-start;
}
.big-container .chips-filtrering {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.7rem 1.2rem;
  box-sizing: border-box;
}
.big-container .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: cover;
}
.big-container .h1-saved {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
}
.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .txt-box-about {
  margin: 0 1rem 2.9rem 1rem;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.big-container .txt-about {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  color: #111010;
}
.big-container .iconTxt-containerBtm {
  margin: 0 1rem 6.8rem 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #040404;
}
.big-container .saved-box {
  margin: 0 0 2.3rem 0.2rem;
  display: flex;
  align-items: center;
  color: #040404;
  text-decoration: none;
}
.big-container .friends-box {
  margin-bottom: 2.3rem;
  display: flex;
  align-items: center;
}
.big-container .settings-box {
  display: flex;
  align-items: center;
}
.big-container .mdiheart {
  margin-right: 1.2rem;
  display: flex;
  width: 1.7rem;
  height: 1.5rem;
}
.big-container .octiconpeople-24 {
  margin-right: 1rem;
  display: flex;
  width: 2rem;
  height: 1.6rem;
}
.big-container .material-symbols-lightsettings-outline {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.9rem;
  height: 1.9rem;
  box-sizing: border-box;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}

.nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}

.home-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.search-1 {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}

.user-filled {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: border-box;
}

.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 5rem 0;
  box-sizing: border-box;
}
.big-container .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: cover;
}
.big-container .h1-saved {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
}
.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .besksml-4 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.5);
}
.big-container .saved-box {
  margin: 0.6rem 1.7rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 0.1rem solid #000000;
  padding-bottom: 0.4rem;
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}
.big-container .mappar-text.mapTxt {
  color: #959595;
}
.big-container .maps-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0.1rem 0.5rem 0;
  box-sizing: border-box;
}
.big-container .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .vector {
  width: 1.2rem;
  height: 1rem;
}
.big-container .misort {
  margin: 0.3rem 1.1rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .rectangle-3 {
  border-radius: 0.1rem;
  border: 0.1rem solid #000000;
  margin-right: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
}
.big-container .frame-2 {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-3 {
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-1 {
  border-bottom: 0.1rem solid #000000;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
  width: 1.5rem;
  box-sizing: border-box;
}
.big-container .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .share-filter-box {
  display: flex;
  flex-direction: row;
  width: 6.2rem;
  box-sizing: border-box;
}
.big-container .vector-2 {
  width: 0.9rem;
  height: 0.9rem;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .vector-4 {
  width: 1.1rem;
  height: 1.1rem;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.big-container .vector-3 {
  width: 1rem;
  height: 0.3rem;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
  box-sizing: border-box;
}
.big-container .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 5.4rem;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.big-container .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.4rem);
  box-sizing: border-box;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}
.big-container .share-icon-box {
  border-radius: 6.3rem;
  background: #ffffff;
  margin-bottom: 4.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.3rem 0.4rem 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: border-box;
}
.big-container .vector-5 {
  margin-top: 2.5rem;
  width: 4.4rem;
  height: 3.4rem;
}
.big-container .folder-open {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  flex: 1 0 auto;
  height: 9.4rem;
  box-sizing: border-box;
}
.big-container .lorem-ipsum {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}
.big-container .saved-accommodations {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .frame-29 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .kort-medium {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 9.7rem;
  box-sizing: border-box;
}
.big-container .frame-291 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .map-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.big-container .frame-292 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-293 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .map-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.big-container .icon-mapp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}
.big-container .nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}
.big-container .backArrow-icon {
  width: 2rem;
  height: 2rem;
}
.big-container .home-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .search-1 {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .user-filled {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: border-box;
}
.big-container .navigation {
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.8rem 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}
.big-container .arrow-back-top-left {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .vector-6 {
  width: 0.5rem;
  height: 0.5rem;
}
.big-container .heartBox {
  position: absolute;
  top: 0.8rem;
  right: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.5rem;
  height: 0.5rem;
  box-sizing: border-box;
}
.big-container .container-4 {
  background: #d9d9d9;
  position: relative;
  margin-bottom: 0.8rem;
  width: 9.7rem;
  height: 7.4rem;
}
.big-container .ellipse-11 {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.big-container .circle-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
  box-sizing: border-box;
}
.big-container .headline {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  color: #141414;
}
.big-container .about-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .treehouses {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.6rem;
  color: #141414;
}
.big-container .chips-filtrering-6 {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 0.2rem 0.4rem;
  box-sizing: border-box;
}
.big-container .txtChips-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .contentSaved-Box {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.5rem);
}
.big-container .card-medium {
  margin: 0.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 9.7rem;
}
.big-container .short-infoTxt {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .card-box {
  margin-bottom: 1.5rem;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.big-container .frame-46 {
  margin: 0 1rem 1.4rem 1rem;
}

.big-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 0rem 0;
  box-sizing: border-box;
  margin-bottom: 5rem;
}
.big-container .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: cover;
}
.big-container .h1-saved {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
}
.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .besksml-4 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.5);
}
.big-container .saved-box {
  margin: 0.6rem 1.7rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}
.big-container .mappar-text.txtColor {
  color: #959595;
}
.big-container .maps-box {
  border-bottom: 0.1rem solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0.1rem 0.5rem 0;
  box-sizing: border-box;
}
.big-container .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .vector {
  width: 1.2rem;
  height: 1rem;
}
.big-container .misort {
  margin: 0.3rem 1.1rem 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 1rem;
  box-sizing: border-box;
}
.big-container .rectangle-3 {
  border-radius: 0.1rem;
  border: 0.1rem solid #000000;
  margin-right: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
}
.big-container .frame-2 {
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-3 {
  display: flex;
  flex-direction: row;
  width: 1.3rem;
  box-sizing: border-box;
}
.big-container .frame-1 {
  border-bottom: 0.1rem solid #000000;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
  width: 1.5rem;
  box-sizing: border-box;
}
.big-container .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .share-filter-box {
  display: flex;
  flex-direction: row;
  width: 6.2rem;
  box-sizing: border-box;
}
.big-container .vector-2 {
  width: 0.9rem;
  height: 0.9rem;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .vector-4 {
  width: 1.1rem;
  height: 1.1rem;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.big-container .vector-3 {
  width: 1rem;
  height: 0.3rem;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
  box-sizing: border-box;
}
.big-container .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  width: 5.4rem;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
}
.big-container .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.4rem);
  box-sizing: border-box;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}
.big-container .share-icon-box {
  border-radius: 6.3rem;
  background: #ffffff;
  margin-bottom: 4.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.3rem 0.4rem 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  box-sizing: border-box;
}
.big-container .vector-5 {
  margin-top: 2.5rem;
  width: 4.4rem;
  height: 3.4rem;
}
.big-container .folder-open {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  flex: 1 0 auto;
  height: 9.4rem;
  box-sizing: border-box;
}
.big-container .lorem-ipsum {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}
.big-container .saved-accommodations {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}
.big-container .frame-29 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .kort-medium {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 9.7rem;
  box-sizing: border-box;
}
.big-container .frame-291 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .map-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.big-container .frame-292 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-293 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.big-container .frame-771 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .map-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.big-container .icon-mapp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  box-sizing: border-box;
}
.big-container .nav-icons {
  width: 1.3rem;
  height: 1.5rem;
}
.big-container .backArrow-icon {
  width: 2rem;
  height: 2rem;
}
.big-container .home-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .search-1 {
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
}
.big-container .user-filled {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: border-box;
}
.big-container .navigation {
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.8rem 0;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}
.big-container .arrow-back-top-left {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

.flex-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: var(--flex-gap);
  /* Denna kod ska läggas till på lämpligt ställe ex i en komponent partial */
  /* Om ni vill använda gap och vill att det blir smooth med mellanrummen använd denna uträkning */
  /* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */
  /* flex: 0 0 calc((100% / 3) - (((3 - 1) / 3) * 1rem)); */
}
@media (min-width: 700px) {
  .flex-container {
    margin: 0 4rem;
  }
}
.flex-container .text-box {
  margin-bottom: 3.5rem;
}/*# sourceMappingURL=style.css.map */