@charset "UTF-8";
:root {
  /* Variable for gap */
  --flex-gap: 1rem;
  /* Number of flex items*/
  --flex-items: 1;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul,
ol {
  list-style-type: "";
}

@font-face {
  font-family: SwedenSansBook;
  src: url(font/SwedenSansBook.otf);
}
@font-face {
  font-family: SwedenSansRegular;
  src: url(font/SwedenSansRegular.otf);
}
@font-face {
  font-family: SwedenSansSemiBold;
  src: url(font/SwedenSansSemiBold.otf);
}
@font-face {
  font-family: SwedenSansBold;
  src: url(font/SwedenSansBold.otf);
}
body {
  font-family: "SwedenSansBold", arial, sans-serif;
  font-style: normal;
}

a,
.link-tagg {
  display: block;
  text-decoration: none;
  color: black;
}

.heading {
  font-size: 1rem;
}

.heading_1 {
  font-size: 3rem;
}

.heading_2 {
  font-size: 2rem;
}

.heading_3 {
  font-size: 1.75rem;
}

.heading_4 {
  font-size: 1.25rem;
}

.heading_5 {
  font-size: 1.125rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.bodyMD-Bold {
  font-size: 1rem;
}

.bodyMD {
  font-size: 1rem;
  line-height: 135%;
  font-family: "SwedenSansBook", arial, sans-serif;
}

.body-mini {
  font-size: 0.875rem;
  font-family: "SwedenSansRegular", arial, sans-serif;
  white-space: nowrap;
}

.bodySM {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}

.bodySM-Bold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.bodySM-SemiBold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.badge {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.button-primary {
  font-size: 1rem;
}

.buttonText {
  font-size: 1rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.link_1 {
  font-family: SwedenSansBook;
  font-size: 0.87;
}

.p-card-mini {
  font-family: SwedenSansBook;
  font-size: 0.75;
}

.menu-link p {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.menu-link p.active-text {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.saved-resorts p {
  font-size: 0.75rem;
}

.textbox-suggestions h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #111010;
}

.information-box {
  font-size: 0.8rem;
  color: #141414;
}
.information-box h3 {
  margin-bottom: 0.3rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.chips-filter p {
  font-size: 0.8rem;
  color: #141414;
  padding-left: 0.2rem;
}

.logo {
  margin: 0 0.1rem 7.5rem 0;
  font-size: 3rem;
}

.btn-txt-box p {
  font-size: 0.8rem;
}
.btn-txt-box .sign-in {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
.btn-txt-box .createAccount {
  font-size: 1.3rem;
}

.chipsFilter p {
  font-size: 0.75rem;
}

.h1-saved {
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
  margin-top: 0.5rem;
}

.iconTxt-containerBtm {
  font-weight: 500;
  font-size: 1rem;
  color: #040404;
}

.short-infoTxt {
  font-size: 0.8rem;
  color: #141414;
}

.saved-accommodations {
  font-size: 0.8rem;
  color: #141414;
}

.treehouses {
  font-size: 0.6rem;
  color: #141414;
}

.map-txt .mapTxt-headline {
  margin-bottom: 0.3rem;
  align-self: flex-start;
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mbt1 {
  margin: 1rem 0rem;
}

.mbt2 {
  margin: 2rem 0rem;
}

.mbt3 {
  margin: 2rem 0rem;
}

.mbt4 {
  margin: 4rem 0rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.link-tagg {
  padding: 1rem;
}

.saved-resorts {
  margin-top: 2.5rem;
}

.p-card-mini:first-child {
  margin-bottom: 0.2rem;
}

.blurEffect-Light {
  border-radius: var(--Border-radius-Radius-full, 9999px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.blurEffect-Dark {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.bottom-menu-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-top: 1px solid #e9e9e9;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.bottom-menu-container .bottom-menu {
  display: flex;
}
.bottom-menu-container .bottom-menu .menu-item {
  flex: 1 0 auto;
  display: flex;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link {
  padding: 1rem 0rem;
  flex: 1;
  text-decoration: none;
  text-align: center;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 28;
  padding-bottom: 0.5rem;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .nav-icons {
  height: 24px;
  fill: #485C55;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .nav-p {
  padding-top: 0.5rem;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .navSearchIcon {
  width: 28px;
  height: 28px;
}

.suggestions-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}
.suggestions-container .textbox-suggestions {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
.suggestions-container .suggestionCard-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.suggestions-container .suggestionCard-box .card-large {
  flex: 0 0 328px;
}
.suggestions-container .suggestionCard-box .card-large .img-heart-box {
  background: #d9d9d9;
  position: relative;
  margin-bottom: 0.8rem;
  margin: auto;
}
.suggestions-container .suggestionCard-box .card-large .image {
  opacity: 0.5;
  background-size: cover;
}
.suggestions-container .suggestionCard-box .card-large .image img {
  width: 100%;
  height: 100%;
}
.suggestions-container .suggestionCard-box .card-large .heartIConBox {
  position: absolute;
  top: 1.2rem;
  right: 1.1rem;
  width: 1.5rem;
  height: 1.4rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card {
  padding-top: 1rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box {
  margin-bottom: 0.8rem;
  display: flex;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box .ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .information-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox {
  margin-bottom: 0.3rem;
  display: flex;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  margin-right: 0.25rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter .chip-icon {
  margin: 0.1rem 0.7rem 0.1rem 0;
  display: flex;
  width: 0.7rem;
  height: 0.8rem;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  padding: 1rem;
}

.show-all-container {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.show-all-container.start {
  justify-content: space-between;
}

.saved-resorts-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.destination-section .card-inspo:first-child {
  flex: 0 0 100%;
}

/*If you have page-specific styles, it is better to put them in a pages/ folder, in a file named after the page. For instance, it’s not uncommon to have very specific styles for the home page hence the need for a _home.scss file in pages/.*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.show-all-container .show-all-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.show-all-container .show-all-link .show-all-text {
  text-decoration: underline;
}

#categorys {
  margin-top: 1rem;
}

.categori-txt {
  margin-top: 1rem;
  font-weight: 800;
}

.m1b {
  display: flex;
  max-width: 300px;
  overflow-x: auto;
}
.m1b .chip + label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  white-space: nowrap;
  flex: 0 0 10%;
  padding: 2rem 0rem;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #141414;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 12px;
}
.m1b .chip[type=checkbox] {
  display: none;
}
.m1b .chip[type=checkbox]:checked + label {
  color: red;
}
.m1b #categoryOne + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryTwo + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryThree + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryFour + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categoryFive + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categorySix + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}
.m1b #categorySeven + label {
  background-image: url("/assets/icons/iconCabin.svg");
  background-repeat: no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.m1b::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.m1b {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card.card-inspo {
  flex: 0 0 calc(50% - 0.5rem);
  position: relative;
}
.card.card-inspo .card-content-frost {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.card.card-square img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchFilter-box {
  display: flex;
  justify-content: space-between;
}
.searchFilter-box #search-bar {
  position: relative;
  flex: 0 0 78%;
}
.searchFilter-box #search-bar #header-search {
  padding: 0.75rem 1.7rem;
  border-radius: 100px;
  border: 1px solid #141414;
  width: 100%;
  background-color: #f2f2f2;
}
.searchFilter-box #search-bar #header-search.focus-border {
  border: 1px solid #141414;
  outline: none;
  box-shadow: 0px 0px 20px gray;
}
.searchFilter-box #search-bar #header-search::-moz-placeholder {
  font-size: 12px; /* Ange önskad fontstorlek här */
}
.searchFilter-box #search-bar #header-search::placeholder {
  font-size: 12px; /* Ange önskad fontstorlek här */
}
.searchFilter-box #search-bar #btn-search {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
}
.searchFilter-box .filter-box {
  flex: 0 0 20%;
}

.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid #f2f2f2;
}

.user-accomodation {
  display: flex;
  justify-content: center;
  flex: 1 auto;
  padding-top: 0rem;
  gap: 1rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.user-accomodation .card {
  position: relative;
  border: 1px solid #dedede;
  flex: 1 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 375px) {
  .user-accomodation .card {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.user-accomodation .card .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
}
.user-accomodation .card .card-content .circle-box {
  margin-bottom: 0.8rem;
  margin-top: 0.75rem;
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
}
.user-accomodation .card .card-content .circle-box .ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.user-accomodation .card .card-content .img-box {
  position: relative;
  display: flex;
  flex: 1;
}
.user-accomodation .card .card-content .img-box .like-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0.5rem;
  right: 0.5rem;
}
.user-accomodation .card .card-content .img-box img {
  pointer-events: none;
}
.user-accomodation .card h2 {
  font-size: 1.25rem;
}
.user-accomodation .img-box {
  height: 280px;
  width: 328px;
}
.user-accomodation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-accomodation.hide {
  display: none;
}
.user-accomodation .card-text {
  color: black;
  margin: 0.75rem 0 1rem 0;
}
.user-accomodation .card-text p {
  padding-top: 0.3rem;
  font-size: 0.75rem;
}
.user-accomodation .style-chips {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: capitalize;
  border: 1px solid #141414;
}

.like-icon {
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  top: 0.5rem;
  right: 0rem;
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5.8976049423px);
          backdrop-filter: blur(5.8976049423px);
}

.like-icon {
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  top: 0.5rem;
  right: 0rem;
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5.89px);
          backdrop-filter: blur(5.89px);
}
.like-icon.filled {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.saved-resort {
  flex: 0 0 calc(50% - 0.5rem);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.75rem;
  width: 10rem;
}
.saved-resort figure {
  width: 2.75rem;
  height: 2.75rem;
}
.saved-resort figure img {
  height: 100%;
  width: 100%;
}

.showAll {
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.showAll .arrow-forrward-icon {
  width: 1rem;
  height: 1rem;
}

.profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: cover;
}

.folder-card {
  display: flex;
  flex: 0 0 calc(50% - 0.5rem);
  flex-direction: column;
}
.folder-card .folder-open {
  background-image: url("/assets/img/camping.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.8rem;
  display: flex;
  padding: 0.5rem 0 0 0.5rem;
  min-height: 9.4rem;
}
.folder-card .folder-open .share-icon-box {
  border-radius: 6.3rem;
  background: #ffffff;
  margin-bottom: 4.1rem;
  padding: 0.5rem 0.3rem 0.4rem 0.3rem;
  height: 2rem;
  width: 2rem;
}

.card-box {
  display: flex;
  flex: 1 0 auto;
  margin: 0 1rem 1.4rem 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-box .card-medium {
  margin: 0.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}
@media (min-width: 375px) {
  .card-box .card-medium {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.card-box .card-medium .card-img {
  background-image: url(/assets/img/cottage.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 0.8rem;
  width: 9.7rem;
  height: 7.4rem;
  opacity: 0.8;
  flex: 1;
  gap: 1rem;
}
.card-box .card-medium .card-img .heartBox {
  position: absolute;
  top: 0.8rem;
  right: 1.1rem;
  width: 0.8rem;
  height: 0.8rem;
}
.card-box .card-medium .contentSaved-Box .circle-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
  box-sizing: border-box;
}
.card-box .card-medium .contentSaved-Box .circle-box .ellipse-11 {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.4rem;
  height: 0.4rem;
}
.card-box .card-medium .txtChips-box {
  display: flex;
  flex-direction: column;
}
.card-box .card-medium .txtChips-box .about-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}
.card-box .card-medium .txtChips-box .chipsFilterS {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  align-self: flex-start;
  padding: 0.2rem 0.4rem;
}
.card-box .card-medium .txtChips-box .headline {
  margin-bottom: 0.3rem;
}

.arrow-back-top-left {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
}
.arrow-back-top-left .backArrow-icon {
  width: 4rem;
  height: 4rem;
}

.map-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.map-section .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  justify-content: space-between;
}
.map-section .icon-box .share-filter-box {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100px;
}
.map-section .icon-box .share-filter-box .active {
  border-bottom: 0.1rem solid #000000;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
}
.map-section .icon-box .share-filter-box .columnIcon {
  width: 1.1rem;
  height: 1.1rem;
}
.map-section .icon-box .share-filter-box .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
}
.map-section .icon-box .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  flex: 0 0 100px;
  height: -moz-fit-content;
  height: fit-content;
}
.map-section .map-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon-mapp-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.icon-mapp-box .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.icon-mapp-box .text-box-saved-maps .saved-box,
.icon-mapp-box .text-box-saved-maps .maps-box {
  display: flex;
  flex: 0 0 50%;
  border: 1px solid black;
  text-align: center;
  padding: 0.625rem;
  justify-content: center;
  cursor: pointer;
}
.icon-mapp-box .text-box-saved-maps .active {
  background-color: black;
  color: white;
  transition: background-color 0.7s ease;
}

.deviderLine {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1019607843);
}

.account-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.6rem;
}
.account-container .main-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .main-account .signIn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid #000000;
  background: #262626;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem 4rem 0.4rem 4rem;
}
.account-container .main-account .createBtn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid #000000;
  margin: 0 0.1rem 1rem 0.1rem;
  padding: 0.4rem 3rem 0.4rem 3rem;
}
.account-container .main-account .btn-txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .main-account .btn-txt-box .click-txt {
  text-decoration: underline;
}

.big-container {
  background: #ffffff;
  padding: 3.9rem 0 0rem 0;
}
.big-container .main-saved {
  margin: 0 1rem 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-container .main-saved .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.big-container .main-saved .profilPic-textBox .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  background-size: cover;
}
.big-container .main-saved .textChips-container {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.big-container .main-saved .textChips-container .txtPen-box {
  margin: 0 0.1rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: calc(100% - 0.1rem);
}
.big-container .main-saved .textChips-container .container-fakeChips {
  margin-bottom: 0.5rem;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  display: flex;
  padding: 0.7rem 2rem;
}
.big-container .main-saved .editPenBox {
  display: flex;
}
.big-container .main-saved .editPenBox .penEditimg {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}
.big-container .main-saved .txt-box-about {
  margin: 0 1rem 2.9rem 1rem;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.big-container .main-saved .saved-box-profil {
  margin: 0 0 2.3rem 0.2rem;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.big-container .main-saved .iconTxt-containerBtm {
  margin: 0 1rem 6.8rem 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.big-container .main-saved .iconTxt-containerBtm .iconBox {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.big-container .main-saved .iconTxt-containerBtm .iconBox .icoon {
  width: 2rem;
  height: 2rem;
}

.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}

.big-container {
  margin-bottom: 7rem;
}
.big-container .besksml-4 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: rgba(43, 43, 43, 0.5);
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}
.big-container .mappar-text.txtColor {
  color: #959595;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 0.9rem;
  height: 0.9rem;
  box-sizing: border-box;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  box-sizing: border-box;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}

.accommodation {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.accommodation .detail-pic {
  display: flex;
  height: 23.875rem;
  position: relative;
}
.accommodation .detail-pic .arrowBack-icon {
  position: absolute;
  color: #fff;
  border-radius: 6rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.4375rem 0.3125rem;
  align-items: center;
  gap: 0.625rem;
  left: 1rem;
  top: 1rem;
}
.accommodation .detail-pic .detailIcon {
  font-weight: 200;
}
.accommodation .detail-pic .share-icon {
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}
.accommodation .detail-pic .likeIcon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
.accommodation .detail-main {
  margin: 1rem 0rem 4rem 0rem;
}
.accommodation .detail-main h1 {
  font-size: 2rem;
}
.accommodation .detail-main .seasonPrice-box {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-bottom: 1rem;
  color: #8b8f73;
}
.accommodation .detail-main .seasonPrice-box .season-box {
  display: flex;
  flex: 0 0 60%;
  justify-content: space-between;
}
.accommodation .detail-main .seasonPrice-box .price-box {
  display: flex;
}
.accommodation .detail-main .seasonPrice-box .price-box p {
  text-transform: uppercase;
}
.accommodation .detail-main .location-box {
  display: flex;
  align-items: center;
}
.accommodation .detail-main .circleRating-box {
  display: flex;
  align-items: center;
}
.accommodation .detail-main .circleRating-box .circle-box {
  margin-bottom: 0.8rem;
  margin-top: 0.75rem;
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
}
.accommodation .detail-main .circleRating-box .circle-box .ellipse {
  border-radius: 0.3rem;
  background: #e7ae4d;
  width: 0.6rem;
  height: 0.6rem;
}
.accommodation .detail-main .circleRating-box .circle-box .ellipse.border {
  border: 1px solid #e7ae4d;
  background-color: white;
}
.accommodation .detail-main .circleRating-box p {
  margin-left: 0.5rem;
}
.accommodation .detail-main .readMore {
  margin-top: 0.5rem;
  text-decoration: underline;
}
.accommodation .detail-main .chipsBox {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.accommodation .detail-main .chipsBox .chipsFilter {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  display: flex;
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
  align-items: center;
}
.accommodation .detail-main .chipsBox .chipsFilter .iconChipsBox .chipsIcon {
  font-size: 1rem;
}
.accommodation .detail-main .chipsBox .chipsFilter .chipsTxt {
  padding-left: 0.25rem;
  font-size: 12px;
}
.accommodation .detail-main .btnBookWebsite {
  border-radius: 6.3rem;
  border: 0.1rem solid #485c55;
  margin-top: 3rem;
  display: flex;
  padding: 0.75rem 1.8125rem;
  justify-content: space-between;
  align-items: center;
  width: 192px;
  background-color: #485c55;
}
.accommodation .detail-main .btnBookWebsite a {
  color: white;
  white-space: nowrap;
  font-size: 12px;
}
.accommodation .detail-main .btnBookWebsite .openNewIcon {
  color: white;
  font-size: 20px;
}
.accommodation .detail-main .accommodationSection {
  margin-top: 6rem;
}
.accommodation .detail-main .accommodationSection .h2 {
  font-size: 20px;
}
.accommodation .detail-main .accommodationSection ul {
  font-family: SwedenSansBook;
  color: #646464;
  list-style-type: disc;
}
.accommodation .detail-main .accommodationSection ul li {
  margin-left: 1rem;
  margin-top: 1rem;
}
.accommodation .detail-main .accommodationSection .accoPic-box {
  margin-top: 1.25rem;
  display: flex;
  gap: 0.13rem;
  justify-content: center;
}
.accommodation .detail-main .accommodationSection .accoPic-box .highPic-box {
  width: 10.125rem;
  height: 302px;
  position: relative;
}
.accommodation .detail-main .accommodationSection .accoPic-box .highPic-box .card-content-frost {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.accommodation .detail-main .accommodationSection .accoPic-box .highPic-box img {
  height: 100%;
}
.accommodation .detail-main .accommodationSection .accoPic-box .twoPic-box {
  margin-bottom: 0.13rem;
  width: 10.125rem;
  height: 150px;
}
.accommodation .detail-main .accommodationSection .accoPic-box .twoPic-box img {
  height: 100%;
}
.accommodation .detail-main .accommodationSection .accoPic-box .twoPic-box .mt-accoPic {
  margin-top: 0.13rem;
}
.accommodation .detail-main .accommodationSection .seeAllPicBtn {
  display: flex;
  width: 9.75rem;
  padding: 0.75rem 1.8125rem;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.3rem;
  border: 0.1rem solid #485c55;
}
.accommodation .detail-main .accommodationSection .seeAllPicBtn a {
  white-space: nowrap;
}
.accommodation .detail-main .activitiesSection {
  margin-top: 3rem;
}
.accommodation .detail-main .activitiesSection .li-activites {
  display: flex;
  align-items: center;
  padding-top: 1.125rem;
}
.accommodation .detail-main .activitiesSection .li-activites p {
  padding-left: 0.813rem;
}
.accommodation .detail-main .activitiesSection a {
  margin-top: 1.125rem;
  text-decoration: underline;
}
.accommodation .detail-main .whereItIs-section {
  margin-top: 6rem;
}
.accommodation .detail-main .whereItIs-section .showPlaceMap {
  margin-top: 1rem;
}
.accommodation .detail-main .whereItIs-section .map-box {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.accommodation .detail-main .whereItIs-section .info-box {
  margin-top: 1rem;
}
.accommodation .detail-main .whereItIs-section .info-box p {
  font-size: 12px;
  margin-top: 4px;
}
.accommodation .detail-main .whereItIs-section p {
  font-size: 12px;
}
.accommodation .detail-main .reviews-section .reviews-box {
  margin-top: 1rem;
  display: flex;
  max-width: 300px;
  overflow-x: auto;
}
.accommodation .detail-main .reviews-section .reviews-box .review-card {
  display: flex;
  padding: 0.875rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  border: 1px solid #dedede;
  border-radius: 2px;
  width: 14.625rem;
}
.accommodation .detail-main .reviews-section .reviews-box .review-card .PicContent-box {
  display: flex;
  align-items: center;
}
.accommodation .detail-main .reviews-section .reviews-box .review-card .PicContent-box figure {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 3.4375rem;
  background: url(/assets/img/profilpic.jpg);
  background-size: cover;
}
.accommodation .detail-main .reviews-section .reviews-box .review-card .PicContent-box .nameCircle-box {
  margin-left: 1rem;
}
.accommodation .detail-main .reviews-section .reviews-box .review-card p {
  color: #141414;
  font-family: "Sweden Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  width: 12.5rem;
}
.accommodation .detail-main .reviews-section .seeMoreReviweBtn {
  display: flex;
  width: 13.875rem;
  padding: 0.75rem 1.8125rem;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.3rem;
  border: 0.1rem solid #485c55;
}
.accommodation .detail-main .reviews-section .seeMoreReviweBtn a {
  white-space: nowrap;
  font-family: "Sweden Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.accommodation .detail-main .contact-section .location-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.accommodation .detail-main .socialMedia-box {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}
.accommodation .detail-main .margin-left {
  margin-left: 0.75rem;
}
.accommodation .location-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.accommodation .location-box .contactTxt-box {
  margin-left: 0.5rem;
  line-height: 135%;
}
.accommodation h2 {
  font-size: 20px;
}
.accommodation .sweBookFont {
  font-family: SwedenSansBook;
}
.accommodation .regularTxt {
  font-family: SwedenSansRegular;
}
.accommodation .ml {
  margin-left: 1rem;
}
.accommodation .icons-li {
  font-size: 20px;
}
.accommodation .socialMedia-icon {
  width: 34px;
  height: 34px;
}
.accommodation .reviews-box::-webkit-scrollbar {
  display: none;
}
.accommodation .reviews-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.accommodation .circleRating-box {
  display: flex;
  align-items: center;
}
.accommodation .circleRating-box .circle-box {
  margin-bottom: 0.8rem;
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
}
.accommodation .circleRating-box .circle-box .ellipse {
  border-radius: 0.3rem;
  background: #e7ae4d;
  width: 0.6rem;
  height: 0.6rem;
}
.accommodation .circleRating-box .circle-box .ellipse.border {
  border: 1px solid #e7ae4d;
  background-color: white;
}
.accommodation .circleRating-box p {
  margin-left: 0.5rem;
}/*# sourceMappingURL=style.css.map */