@charset "UTF-8";
:root {
  /* Variable for gap */
  --flex-gap: 1rem;
  /* Number of flex items*/
  --flex-items: 1;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  background-size: contain; /* Anpassa storleken utan att sträcka ut */
  background-position: center center; /* Placera bilden i mitten */
  background-repeat: no-repeat;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul,
ol {
  list-style-type: "";
}

@font-face {
  font-family: SwedenSansBook;
  src: url(font/SwedenSansBook.otf);
}
@font-face {
  font-family: SwedenSansRegular;
  src: url(font/SwedenSansRegular.otf);
}
@font-face {
  font-family: SwedenSansSemiBold;
  src: url(font/SwedenSansSemiBold.otf);
}
@font-face {
  font-family: SwedenSansBold;
  src: url(font/SwedenSansBold.otf);
}
body {
  font-family: "SwedenSansBold", arial, sans-serif;
  font-style: normal;
}

a,
.link-tagg {
  display: block;
  text-decoration: none;
  color: black;
}

.heading {
  font-size: 1rem;
  line-height: 100%;
}

.heading_1 {
  font-size: 3rem;
}

.heading_2 {
  font-size: 2rem;
  line-height: 110%;
}

.heading_3 {
  font-size: 1.75rem;
}

.heading_4 {
  font-size: 1.25rem;
}

.heading_5 {
  font-size: 1.125rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.bodyMD-Bold {
  font-size: 1rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}

.bodyMD {
  font-size: 1rem;
  line-height: 135%;
  font-family: "SwedenSansBook", arial, sans-serif;
  padding-top: 1.8px;
}

.body-mini {
  font-size: 0.875rem;
  font-family: "SwedenSansRegular", arial, sans-serif;
  white-space: nowrap;
}

.bodySM {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}

.bodySMregular {
  font-size: 0.875rem;
  font-family: "SwedenSansRegular", arial, sans-serif;
}

.bodySM-Bold {
  font-size: 0.875rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}

.bodyXS {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}

.bodyXS-Bold {
  font-size: 0.75rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}

.bodyXS-Semibold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.bodySM-SemiBold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.badge {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.button-primary {
  font-size: 1rem;
}

.buttonText {
  font-size: 1rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.button {
  font-size: 1rem;
  font-family: "SwedenSansBook", arial, sans-serif;
  letter-spacing: 1px;
  color: white;
  white-space: nowrap;
  padding-top: 3px;
}

.link_1 {
  font-family: SwedenSansBook;
  font-size: 0.87rem;
}

.p-card-mini {
  font-family: SwedenSansBook;
  font-size: 0.75rem;
}

.upperCASE {
  text-transform: uppercase;
}

.saved-resorts p {
  font-size: 0.75rem;
}

.textbox-suggestions h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #111010;
}

.information-box {
  font-size: 0.8rem;
  color: #141414;
}
.information-box h3 {
  margin-bottom: 0.3rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.chips-filter p {
  font-size: 0.8rem;
  color: #141414;
  padding-left: 0.2rem;
}

.logo {
  margin: 0 0.1rem 7.5rem 0;
  font-size: 3rem;
}

.btn-txt-box p {
  font-size: 0.8rem;
}
.btn-txt-box .sign-in {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
.btn-txt-box .createAccount {
  font-size: 1.3rem;
}

.chipsFilter p {
  font-size: 0.75rem;
}

.h1-saved {
  font-weight: 400;
  font-size: 1.5rem;
  color: #70735b;
  margin-top: 0.5rem;
}

.iconTxt-containerBtm {
  font-weight: 500;
  font-size: 1rem;
  color: #040404;
}

.short-infoTxt {
  font-size: 0.8rem;
  color: #141414;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
}

.saved-accommodations {
  font-size: 0.8rem;
  color: #141414;
}

.map-txt .mapTxt-headline {
  margin-bottom: 0.3rem;
  padding-top: 1rem;
  align-self: flex-start;
  font-weight: 500;
  font-size: 1rem;
  color: #141414;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt1-25 {
  margin-top: 1.25rem;
}

.mbt1-125 {
  margin-top: 1.125rem;
}

.mbt1-25 {
  margin: 1.25rem 0rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb1-25 {
  margin-bottom: 1.25rem;
}

.mb1-5 {
  margin-bottom: 1.5rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.mbt1 {
  margin: 1rem 0rem;
}

.mbt2 {
  margin: 2rem 0rem;
}

.mbt3 {
  margin: 3rem 0rem;
}

.mbt4 {
  margin: 4rem 0rem;
}

.mleft05 {
  margin-left: 0.5rem;
}

.link-tagg {
  padding: 1rem;
}

.saved-resorts {
  margin-top: 2.5rem;
}

.p-card-mini:first-child {
  margin-bottom: 0.2rem;
}

.detail-main {
  margin: 1rem 0rem 4rem 0rem;
}

.chipsTxt p {
  padding-top: 2px;
}

.h1-color {
  color: #485c55;
}

.chipsFilter:nth-child(1) {
  border: 0.1rem solid #485c55;
}
.chipsFilter:nth-child(2) {
  border: 0.1rem solid #333a4c;
}
.chipsFilter:nth-child(3) {
  border: 0.1rem solid #70735b;
}
.chipsFilter:nth-child(4) {
  border: 0.1rem solid #333a4c;
}

.unikaboenden {
  color: #485c55;
}

.unikaboenden-txt {
  color: #485c55;
}

.water {
  color: #333a4c;
}

.water-txt {
  color: #333a4c;
}

.childcare {
  color: #70735b;
}

.childcare-txt {
  color: #70735b;
}

.ejtillatet-txt {
  color: #333a4c;
}

.blurEffect-Light {
  border-radius: var(--Border-radius-Radius-full, 9999px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.blurEffect-Dark {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.circle-box {
  margin-bottom: 0.8rem;
  margin-top: 0.75rem;
  display: flex;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
}
.circle-box.detailpagcircles {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.circle-box .ellipse {
  border-radius: 0.3rem;
  background: #e7ae4d;
  width: 0.6rem;
  height: 0.6rem;
}
.circle-box .ellipse.border {
  border: 1px solid #e7ae4d;
  background-color: white;
}

.arrowBack-icon {
  position: absolute;
  color: #fff;
  border-radius: 6rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.4375rem 0.3125rem;
  align-items: center;
  gap: 0.625rem;
  left: 1rem;
  top: 1rem;
}

.share-icon {
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}

.likeIcon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.detailIcon {
  font-weight: 300 !important;
}

.location-icon {
  font-size: 16px;
  padding-bottom: 0.2rem;
  padding-right: 0.2rem;
}

body {
  background-color: #fcfcfc;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container-mobil {
  width: 390px;
  height: 884px;
  overflow-y: scroll;
  position: relative;
  border-radius: 30px;
  background-color: #fbfbfb;
  box-shadow: 0 0 60px 10px rgba(70, 70, 70, 0.03), -10px 10px 50px rgba(0, 0, 0, 0.1), -50px 50px 70px rgba(0, 0, 0, 0.05), -100px 100px 100px rgba(0, 0, 0, 0.03), -150px 150px 150px rgba(0, 0, 0, 0.02);
}
.container-mobil .front-speaker {
  width: 50px;
  height: 7px;
  border-radius: 10px;
  background-color: #f3f3f3;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.container-mobil::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-mobil {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bottom-menu-container {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-top: 1px solid #e9e9e9;
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.bottom-menu-container .bottom-menu {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
}
.bottom-menu-container .bottom-menu .menu-item {
  flex: 1 0 auto;
  display: flex;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link {
  padding: 0.5rem 0rem;
  flex: 1;
  text-decoration: none;
  text-align: center;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .nav-p {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .active-text {
  font-size: 0.75rem;
  font-family: "SwedenSansBold", arial, sans-serif;
  color: #485c55;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 28;
  margin-bottom: 0.5rem;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .nav-icons {
  height: 24px;
  fill: #485c55;
  margin-bottom: 0.5rem;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .active-icon {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 28;
  color: #485c55;
}
.bottom-menu-container .bottom-menu .menu-item .menu-link .navSearchIcon {
  width: 28px;
  height: 28px;
}

.suggestions-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}
.suggestions-container .textbox-suggestions {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
.suggestions-container .suggestionCard-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.suggestions-container .suggestionCard-box .card-large {
  flex: 0 0 328px;
}
.suggestions-container .suggestionCard-box .card-large .img-heart-box {
  background: #d9d9d9;
  position: relative;
  margin-bottom: 0.8rem;
  margin: auto;
}
.suggestions-container .suggestionCard-box .card-large .image {
  opacity: 0.5;
  background-size: cover;
}
.suggestions-container .suggestionCard-box .card-large .image img {
  width: 100%;
  height: 100%;
}
.suggestions-container .suggestionCard-box .card-large .heartIConBox {
  position: absolute;
  top: 1.2rem;
  right: 1.1rem;
  width: 1.5rem;
  height: 1.4rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card {
  padding-top: 1rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box {
  margin-bottom: 0.8rem;
  display: flex;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .ellipse-box .ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .txtChip-box .information-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox {
  margin-bottom: 0.3rem;
  display: flex;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  margin-right: 0.25rem;
}
.suggestions-container .suggestionCard-box .card-large .contentBox-card .chipsBox .chips-filter .chip-icon {
  margin: 0.1rem 0.7rem 0.1rem 0;
  display: flex;
  width: 0.7rem;
  height: 0.8rem;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  padding: 1rem;
}

.show-all-container {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.show-all-container.start {
  justify-content: space-between;
}

.saved-resorts-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.destination-section .card-inspo:first-child {
  flex: 0 0 100%;
}

.links-container {
  width: 100%;
  padding: 1rem;
  visibility: hidden;
  position: sticky;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--color-1);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.75s ease-out;
  background: #fafafa;
  transition: 0.75s ease-out;
  border-radius: 0.625rem;
}
.links-container.show {
  bottom: 0;
  visibility: visible;
}
.links-container .contentBtn-box .imgContent-box {
  display: flex;
  align-items: center;
}
.links-container .contentBtn-box .imgContent-box figure {
  height: 44px;
  width: 44px;
}
.links-container .contentBtn-box .imgContent-box figure img {
  width: 100%;
  height: 100%;
}
.links-container .contentBtn-box .txtbox-popup {
  margin-left: 0.5rem;
}

.group-box {
  display: flex;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #979797;
  align-items: center;
  border-radius: 1rem;
  height: 24px;
  padding: 0.05rem 0.5rem;
  color: white;
  margin-left: 3.5rem;
}

.numberFont {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paddingLeft-icon {
  padding-left: 0.222rem;
  font-size: 1rem;
  font-weight: 300;
}

.mapTextBox {
  margin: 2rem 0rem;
}
.mapTextBox .iconTextBox {
  display: flex;
  align-items: center;
}
.mapTextBox .iconTextBox p {
  padding-left: 0.375rem;
}

nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (min-width: 30px) {
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    margin-top: 0.5rem;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .like-icon {
    color: white;
  }
  .mb {
    margin-bottom: 1.5rem;
  }
  .rectangle {
    width: 7.125rem;
    height: 0.375rem;
    border-radius: 1rem;
    background: #c8cfd8;
    margin: auto;
  }
  .headingBox {
    margin: 2rem 0rem;
  }
  .HeadingFont {
    color: #485c55;
    display: flex;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .groupBox-One {
    margin-left: 4.5rem;
  }
  .groupBox-Two {
    margin-left: 6rem;
  }
  /* Customize the label (the container) */
  .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -2.3rem;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #485c55;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.show-all-container .show-all-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.show-all-container .show-all-link .show-all-text {
  text-decoration: underline;
}

.ShowMoreBtn {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}

.seeAllPicBtn {
  display: flex;
  width: 9.75rem;
  padding: 0.75rem 1.8125rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.3rem;
  border: 0.1rem solid #0c0c0c;
  white-space: nowrap;
  padding: 0.75rem 2rem;
  color: #141414;
}

.btnBookWebsite {
  border-radius: 6.3rem;
  display: flex;
  padding: 0.75rem 1.8125rem;
  justify-content: space-between;
  align-items: center;
  background-color: #485c55;
  max-width: 230px;
}
.btnBookWebsite .openNewIcon {
  color: white;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.btn-ok {
  display: block;
  width: 100%;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #485c55;
  background-color: #485c55;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}
.btn-ok.outlined {
  background-color: transparent;
  color: #485c55;
}

#categorys {
  margin-top: 1rem;
}

.category-label {
  position: relative;
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.category-label.one {
  font-size: 0.75rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}

.icon-chips-img {
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  left: 0.6rem;
  top: 0rem;
}
.icon-chips-img.vatten-icon {
  left: 1rem;
}

.categori-txt {
  margin-top: 1rem;
  font-weight: 800;
}

.m1b {
  display: flex;
  overflow-x: auto;
}
.m1b .chip + label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  white-space: nowrap;
  flex: 0 0 10%;
  padding: 2rem 0rem;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #141414;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 12px;
}
.m1b .chip[type=checkbox] {
  display: none;
}
.m1b .chip[type=checkbox]:checked + label {
  font-family: "SwedenSansBold", arial, sans-serif;
  color: #485c55;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.m1b::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.m1b {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card.card-inspo {
  flex: 0 0 calc(50% - 0.5rem);
  position: relative;
}
.card.card-inspo .card-content-frost {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.card.card-square img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchFilter-box {
  display: flex;
  justify-content: space-between;
}
.searchFilter-box #search-bar {
  position: relative;
  flex: 0 0 78%;
}
.searchFilter-box #search-bar #header-search {
  padding: 1rem 1.5rem 1rem 3rem;
  border-radius: 100px;
  border: 1px solid #9e9e9e;
  background-color: #fafafa;
  width: 105%;
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.searchFilter-box #search-bar #header-search.focus-border {
  border: 1px solid #141414;
  outline: none;
}
.searchFilter-box #search-bar #header-search::-moz-placeholder {
  font-size: 12px;
}
.searchFilter-box #search-bar #header-search::placeholder {
  font-size: 12px;
}
.searchFilter-box #search-bar #btn-search {
  position: absolute;
  left: 0.8rem;
  top: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.searchFilter-box .filter-box {
  flex: 0 0 20%;
}

.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid #f2f2f2;
}

.user-accomodation {
  display: flex;
  justify-content: center;
  flex: 1 auto;
  padding-top: 0rem;
  gap: 1rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.user-accomodation .card {
  position: relative;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  margin-top: 2.25rem;
  flex: 1 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 375px) {
  .user-accomodation .card {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.user-accomodation .card .contentCard-box {
  padding: 0.75rem;
}
.user-accomodation .card .category-box {
  padding-left: 0.75rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.user-accomodation .card .category-box .category-icon {
  width: 16px;
  height: 16px;
  white-space: nowrap;
}
.user-accomodation .card .category-box .default-category {
  white-space: nowrap;
  color: #70735b;
}
.user-accomodation .card .glashus-category {
  color: #70735b;
}
.user-accomodation .card .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
}
.user-accomodation .card .details-container .material-symbols-outlined {
  width: 16px;
  height: 10px;
}
.user-accomodation .card .details-container p {
  line-height: 130%;
}
.user-accomodation .card .img-box {
  position: relative;
  display: flex;
  flex: 1;
}
.user-accomodation .card .img-box .like-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0.5rem;
  right: 0.5rem;
}
.user-accomodation .card .img-box img {
  pointer-events: none;
}
.user-accomodation .img-box {
  height: 280px;
  width: 328px;
}
.user-accomodation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-accomodation.hide {
  display: none;
}
.user-accomodation .card-text {
  color: black;
  margin: 0.75rem 0 1rem 0;
}
.user-accomodation .card-text p {
  padding-top: 0.3rem;
  font-size: 0.75rem;
}
.user-accomodation .style-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 0.75rem;
  margin-right: 0.38rem;
  border: 1px solid #141414;
}
.user-accomodation .style-chips img {
  width: 16px;
  height: 16px;
  padding-right: 0.22rem;
}
.user-accomodation .style-chips.glashus {
  color: #70735b;
  border: 1px solid #70735b;
}
.user-accomodation .style-chips.tradhus {
  color: #594e2a;
  border: 1px solid #594e2a;
}
.user-accomodation .style-chips.glamping {
  color: #594e2a;
  border: 1px solid #594e2a;
}
.user-accomodation .style-chips.camping {
  color: #333a4c;
  border: 1px solid #333a4c;
}
.user-accomodation .style-chips.naravatten {
  color: #70735b;
  border: 1px solid #70735b;
}
.user-accomodation .style-chips.romantiskt {
  color: #485c55;
  border: 1px solid #485c55;
}

.like-icon {
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  top: 1rem;
  right: 1rem;
  border-radius: 6.25rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5.89px);
          backdrop-filter: blur(5.89px);
  font-weight: 300;
  /* Added CSS from the given style tag */
}
.like-icon[data-liked=true] {
  font-variation-settings: "FILL" 1;
}

.saved-resort {
  flex: 0 0 calc(50% - 0.5rem);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.75rem;
  width: 10rem;
}
.saved-resort figure {
  width: 2.75rem;
  height: 2.75rem;
}
.saved-resort figure img {
  height: 100%;
  width: 100%;
}

.showAll {
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.showAll .arrow-forrward-icon {
  width: 1rem;
  height: 1rem;
}

.profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  margin: 0 0 1.4rem 0rem;
  width: 8.1rem;
  height: 8.1rem;
  background-size: cover;
}

.folder-card {
  display: flex;
  flex: 0 0 calc(50% - 0.5rem);
  flex-direction: column;
}
.folder-card .bigFolder-picBox {
  display: flex;
  gap: 0.25rem;
  flex: 1;
}
.folder-card .bigFolder-picBox .folderHighPic-box {
  width: 76px;
}
.folder-card .bigFolder-picBox .folderHighPic-box img {
  height: 100%;
}
.folder-card .bigFolder-picBox .twoPix-box {
  display: flex;
  flex-wrap: wrap;
  flex: inherit;
  gap: 0.25rem;
}
.folder-card .bigFolder-picBox .twoPix-box .folder-open {
  position: relative;
}
.folder-card .bigFolder-picBox .twoPix-box .folder-open .group-pill {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.25rem 0.5rem;
  right: 0.5rem;
  position: absolute;
  top: 0.5rem;
}
.folder-card .bigFolder-picBox .twoPix-box .folder-open .group-pill p {
  color: white;
  padding-right: 0.219rem;
  padding-top: 0.1rem;
}
.folder-card .bigFolder-picBox .twoPix-box .folder-open .group-pill .groupPic-icon {
  color: #fafafa;
  font-size: 1rem;
}

.card-box {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-box .card-medium {
  margin: 0.75rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 375px) {
  .card-box .card-medium {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.card-box .card-medium .card-img {
  background-size: cover;
  position: relative;
  width: 9rem;
  height: 7.4rem;
  flex: 1;
  gap: 1rem;
}
.card-box .card-medium .card-img .heartBox {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  color: #ffffff;
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: rgba(0, 0, 0, 0.15);
  /* Name tag BLUR */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.card-box .card-medium .card-img .heartBox .heartIcon-card {
  font-size: 1rem;
}
.card-box .card-medium .contentSaved-Box {
  padding-left: 8px;
  padding-top: 0.88rem;
}
.card-box .card-medium .contentSaved-Box .circle-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  width: 3.9rem;
  box-sizing: border-box;
}
.card-box .card-medium .contentSaved-Box .circle-box .ellipse-11 {
  border-radius: 0.3rem;
  background: #e7ae4d;
  width: 0.4rem;
  height: 0.4rem;
}
.card-box .card-medium .txtChips-box {
  display: flex;
  flex-direction: column;
}
.card-box .card-medium .txtChips-box .about-box {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}
.card-box .card-medium .txtChips-box .headline {
  margin-bottom: 0.3rem;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem 0rem;
}
.notification-header .circle-box {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.6875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  border: 1px solid #cecece;
  background-color: #fff;
}
.notification-header .circle-box .backArrow-icon {
  font-size: 20px;
}
.notification-header .circle-box .notification-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.map-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.map-section .icon-box {
  margin: 0 0.3rem 2rem 0.1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
.map-section .icon-box .active {
  border-bottom: 0.1rem solid #000000;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
}
.map-section .icon-box .bulletList-color {
  color: #9e9e9e;
}
.map-section .icon-box .share-filter-box {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100px;
}
.map-section .icon-box .share-filter-box .active {
  border-bottom: 0.1rem solid #000000;
  padding: 0.1rem 0.1rem 0.3rem 0.1rem;
}
.map-section .icon-box .share-filter-box .columnIcon {
  width: 1.1rem;
  height: 1.1rem;
}
.map-section .icon-box .share-filter-box .format-list-bulleted {
  margin: 0.3rem 0 0.6rem 0;
  display: flex;
  justify-content: center;
  width: 1.2rem;
  height: 0.9rem;
}
.map-section .icon-box .search-add-box {
  margin: 0.2rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  flex: 0 0 100px;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  cursor: pointer;
}
.map-section .map-box {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon-mapp-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.icon-mapp-box .text-box-saved-maps {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.icon-mapp-box .text-box-saved-maps .saved-box,
.icon-mapp-box .text-box-saved-maps .maps-box {
  display: flex;
  flex: 0 0 50%;
  border: 1px solid #485c55;
  text-align: center;
  padding: 0.625rem;
  justify-content: center;
  cursor: pointer;
}
.icon-mapp-box .text-box-saved-maps .active {
  background-color: #485c55;
  color: white;
  transition: background-color 0.7s ease;
}

.deviderLine {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1019607843);
}

.devider-mini {
  border-right: 1px solid #889583;
}

.overlay {
  position: sticky;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  height: 100%;
}
.overlay.show {
  display: block;
}
.overlay .popup-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5rem;
  left: 1rem;
  right: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.375rem;
}
.overlay .popup-box .ckeckbox {
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #5e803c;
  border-radius: 50%;
  position: relative;
}
.overlay .popup-box .ckeckbox .checkmark {
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.overlay .popup-box .ckeckbox::before {
  content: "";
  position: absolute;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.overlay .popup-box span {
  padding-left: 0.5rem;
}

.paddingBox {
  padding: 1rem;
}

.text-box h1 {
  color: #485c55;
}

.filter-box-icon {
  border-radius: 100%;
  background-color: #485c55;
  height: 100%;
  padding: 0.62rem;
  margin-left: 0.5rem;
}

.account-container {
  background: #485c55;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.6rem;
  height: 100vh;
}
.account-container .main-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-container .main-account .signIn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid white;
  background: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.4rem 0rem;
}
.account-container .main-account .signIn-box .sign-in {
  color: black;
}
.account-container .main-account .createBtn-box {
  border-radius: 6.3rem;
  border: 0.1rem solid white;
  margin: 0 0.1rem 1rem 0.1rem;
  padding: 0.4rem 3rem 0.4rem 3rem;
  color: white;
}
.account-container .main-account .btn-txt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.account-container .main-account .btn-txt-box .accontTxt-box {
  display: flex;
  color: white;
}
.account-container .main-account .btn-txt-box .accontTxt-box .click-txt a {
  padding-left: 0.2rem;
  color: white;
}

.big-container {
  background: #ffffff;
}
.big-container .main-saved {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.big-container .main-saved .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.big-container .main-saved .profilPic-textBox .profil-pic-box {
  border-radius: 4.1rem;
  background-image: url("/assets/img/profilpic.jpg");
  background-size: cover;
}
.big-container .main-saved .profilPic-textBox .editPenBox {
  display: flex;
  padding-top: 8px;
  align-items: center;
}
.big-container .main-saved .profilPic-textBox .editPenBox .icon-pen {
  padding-left: 0.2rem;
}
.big-container .main-saved .icon-pen {
  font-size: 20px;
}
.big-container .main-saved .textChips-container {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.big-container .main-saved .textChips-container .txtPen-box {
  margin: 0 0.1rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: calc(100% - 0.1rem);
}
.big-container .main-saved .textChips-container .container-fakeChips {
  margin-bottom: 0.5rem;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter {
  border-radius: 6.3rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter .chipsIcon {
  font-size: 1rem;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter p {
  padding-left: 0.1rem;
  color: #485c55;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter .chipsColor-brown {
  color: #594e2a;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter .chipsColor-green {
  color: #8b8f73;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter:nth-child(1) {
  border: 0.1rem solid #485c55;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter:nth-child(2) {
  border: 0.1rem solid #594e2a;
  color: #594e2a;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter:nth-child(3) {
  border: 0.1rem solid #8b8f73;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter:nth-child(4) {
  border: 0.1rem solid #594e2a;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter:nth-child(5) {
  border: 0.1rem solid #333a4c;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter-Two {
  border-radius: 6.3rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter-Two .chipsIcon {
  font-size: 1rem;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter-Two p {
  padding-left: 0.1rem;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter-Two:nth-child(1) {
  border: 0.1rem solid #594e2a;
  color: #594e2a;
}
.big-container .main-saved .textChips-container .container-fakeChips .chipsFilter-Two:nth-child(2) {
  border: 0.1rem solid #333a4c;
  color: #333a4c;
}
.big-container .main-saved .txt-box-about {
  margin: 0 1rem 2.9rem 1rem;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.big-container .main-saved .saved-box-profil {
  margin: 0 0 2.3rem 0.2rem;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.big-container .main-saved .profilSetting-box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}
.big-container .main-saved .profilSetting-box .iconTxt-containerBtm {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.big-container .main-saved .profilSetting-box .iconTxt-containerBtm .iconBox {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.big-container .main-saved .profilSetting-box .iconTxt-containerBtm .iconBox .icoon {
  width: 2rem;
  height: 2rem;
}
.big-container .main-saved .deviderLine {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 3rem;
}
.big-container .main-saved .deviderLine-Two {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
}

.big-container .profilPic-textBox {
  margin: 0 0rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}
.big-container .headingBoox {
  display: flex;
  flex: 1 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.big-container .headingBoox .colorHeading {
  color: #485c55;
}

.big-container .marginTxt-maps {
  margin-bottom: 1rem;
}
.big-container .mappar-text {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
  color: #fafafa;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.big-container .mappar-text.txtColor {
  color: #485c55;
}
.big-container .redDott-icon {
  color: #d66e38;
  font-size: 1.1rem;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}
.big-container .mapNotification-box {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}
.big-container .mapTextSpace {
  padding-top: 0.3rem;
}
.big-container .redDott-icon-bigger {
  color: #d66e38;
  font-size: 1.4rem;
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
}
.big-container .icround-plus {
  margin: 0.1rem 1.3rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}
.big-container .search {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.big-container .search .search-img {
  width: 24px;
  height: 24px;
}
.big-container .more-vert {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 0.3rem;
}
.big-container .shared-icon {
  width: 1.3rem;
  height: 0.8rem;
}

.accommodation .card-content-frost {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.accommodation .detail-pic {
  display: flex;
  height: 23.875rem;
  position: relative;
}
.accommodation .detail-pic .number-box {
  position: absolute;
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: flex-end;
  gap: 0.5rem;
  left: 50%;
  bottom: 2rem;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  transform: translateX(-50%) translateY(100%);
}
.accommodation .detail-main .seasonPrice-box {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  font-size: 11px;
  color: #889583;
}
.accommodation .detail-main .seasonPrice-box .season-box {
  display: flex;
  gap: 0.5rem;
  color: #889583;
  justify-content: space-between;
}
.accommodation .detail-main .price-box {
  display: flex;
  color: #141414;
}
.accommodation .detail-main .price-box p {
  color: #889583;
}
.accommodation .circleRating-box {
  display: flex;
  align-items: center;
}
.accommodation .chipsBox {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.accommodation .chipsBox .chipsFilter {
  border-radius: 6.3rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  align-items: center;
  max-height: 32px;
}
.accommodation .chipsBox .chipsFilter .iconChipsBox .chipsIcon {
  font-size: 1rem;
  font-weight: 300;
  padding-top: 3px;
}
.accommodation .chipsBox .chipsFilter .chipsTxt {
  padding-left: 0.25rem;
  font-size: 12px;
}
.accommodation .accommodationSection ul {
  font-family: SwedenSansBook;
  color: #646464;
  list-style-type: disc;
}
.accommodation .accommodationSection ul li {
  margin-left: 1rem;
  margin-top: 1rem;
}
.accommodation .accommodationSection .flexbox-boenden {
  display: flex;
  gap: 0.125rem;
}
.accommodation .accommodationSection .flexbox-boenden .boxOne {
  position: relative;
}
.accommodation .accommodationSection .flexbox-boenden .boxTwo {
  gap: 0.125rem;
  flex-wrap: wrap;
}
.accommodation .accommodationSection .flexbox-boenden .boxTwo .box50-50 {
  flex: 0 0 calc(50% - 0.04rem);
  position: relative;
}
.accommodation .accommodationSection .flexbox-boenden .boxTwo .box50-50:nth-child(2) {
  padding-top: 0.125rem;
}
.accommodation .accommodationSection .flexbox-boenden .text-on {
  z-index: 9;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: white;
}
.accommodation .activitiesSection {
  color: #594e2a;
}
.accommodation .activitiesSection p {
  color: #141414;
}
.accommodation .activitiesSection .li-activites {
  display: flex;
  align-items: center;
  padding-top: 1.125rem;
  color: #594e2a;
}
.accommodation .whereItIs-section .map-box {
  display: flex;
  justify-content: center;
}
.accommodation .reviews-section .reviews-box {
  margin-top: 1rem;
  display: flex;
  overflow-x: auto;
}
.accommodation .reviews-section .reviews-box .review-card {
  display: flex;
  padding: 0.875rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  border: 1px solid #dedede;
  border-radius: 2px;
  width: 14.625rem;
}
.accommodation .reviews-section .reviews-box .review-card .PicContent-box {
  display: flex;
  align-items: center;
}
.accommodation .reviews-section .reviews-box .review-card .PicContent-box figure {
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: -0.5rem;
  background-size: cover;
  background-position: center;
}
.accommodation .reviews-section .reviews-box .review-card .PicContent-box figure img {
  border-radius: 3.4375rem;
}
.accommodation .reviews-section .reviews-box .review-card .PicContent-box .nameCircle-box {
  margin-left: 1rem;
}
.accommodation .reviews-section .reviews-box .review-card p {
  color: #141414;
  line-height: 135%;
  width: 12.5rem;
}
.accommodation .reviews-section .seeMoreReviweBtn {
  display: flex;
  width: 13.875rem;
  padding: 0.75rem 1.8125rem;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.3rem;
  border: 0.1rem solid #485c55;
}
.accommodation .reviews-section .seeMoreReviweBtn a {
  white-space: nowrap;
  font-family: "Sweden Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.weeks {
  margin-bottom: 0.25rem;
}

.location-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.location-box .material-symbols-outlined {
  font-weight: 300;
}

.contactTxt-box {
  display: flex;
  margin-left: 0.5rem;
  line-height: 135%;
  display: inline;
}

.socialMedia-box {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.margin-left {
  margin-left: 0.75rem;
}

.ml {
  margin-left: 1rem;
}

.icons-li {
  font-size: 20px !important;
  font-weight: 300 !important;
  padding-right: 0.87rem;
}

.socialMedia-icon {
  width: 34px;
  height: 34px;
}
.socialMedia-icon.chipsgilter-icon {
  width: 16px;
  height: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reviews-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.reviews-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.circleRating-box {
  display: flex;
  align-items: center;
}

.info-box .first-p {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */