@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/hero";
@import "layout/footer";
@import "layout/nav";
@import "layout/suggestions";

@import "components/accessibility";
@import "components/buttons";
@import "components/chips";
@import "components/searchbar";
@import "components/largeCard";
@import "components/savedResorts";
@import "pages/home";
@import "pages/savedmaps";
//Detta måste sorteras
@import "filterpage";
@import "account";
@import "profil";
@import "saveddestinations";
@import "savedmaps";

.container {
  padding: 1rem;
}

.frame-6 {
  background: #ededed;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 10rem;
  box-sizing: border-box;
}
//! spara box till de längst upp
.saved-box {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
//! Spara
.fakeChips-box {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

//! Spara arrow ikonen längst upp
.vector {
  width: 1rem;
  height: 1rem;
}

.arrow-forward {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}

//! spara lorem ipsum texten (stora)
.lorem-ipsum-dolor {
  margin-bottom: 3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
}
//! STORA KORTET med margin-top
.card-large {
  &.mt {
    margin-top: 2rem;
  }
}

.vector-8 {
  width: 4.6rem;
  height: 4.6rem;
}
//!spara
.image {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
  }
}
.vector-1 {
  width: 1.5rem;
  height: 1.4rem;
}

.container-8 {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.vector-6 {
  width: 0.7rem;
  height: 0.8rem;
}

//!Spara
.contentBox-card {
  max-width: 300px;
  padding-top: 1rem;
}

.vector-40 {
  width: 4.6rem;
  height: 4.6rem;
}
//!Spara hjärtikonen
.vector-33 {
  width: 1.5rem;
  height: 1.4rem;
}
.component-14 {
  position: absolute;
  top: 1.2rem;
  right: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1.5rem;
  height: 1.4rem;
  box-sizing: border-box;
}
//!Spara
.frame-944 {
  background: #d9d9d9;
  position: relative;
  margin-bottom: 0.8rem;
  width: 20.5rem;
  min-height: 17.5rem;
  margin: auto;
}
//!spara
.ellipse {
  border-radius: 0.3rem;
  background: #141414;
  width: 0.6rem;
  height: 0.6rem;
}
//!Spara
.frame-274 {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 0.2rem;
  width: 3.9rem;
  box-sizing: border-box;
}
//!SPARA
.lorem-ipsum-10 {
  margin-bottom: 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3rem;
  color: #141414;
}

//!spara
.frame-284 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
}

//!Spara
.frame-544 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

//!Spara
.treehouses-29 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: #141414;
  padding-left: 0.2rem;
}

.vector-37 {
  width: 0.7rem;
  height: 0.8rem;
}

.container-12 {
  margin-bottom: 0.3rem;
  display: flex;
  width: fit-content;
}
.vector-38 {
  width: 0.7rem;
  height: 0.8rem;
}

.vector-36 {
  width: 0.7rem;
  height: 0.8rem;
}

//!spara
.chips-filtrering-27 {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  box-sizing: border-box;
}
.container-13 {
  margin: 0 0.8rem 0.3rem 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

//!Spara

//!SPARA
.home-filled-25 {
  margin: 0.1rem 0.7rem 0.1rem 0;
  display: flex;
  //flex-direction: row;
  justify-content: center;
  width: 0.7rem;
  height: 0.8rem;
  box-sizing: border-box;
}

//!SPARA
.chips-filtrering-26 {
  border-radius: 6.3rem;
  border: 0.1rem solid #141414;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  box-sizing: border-box;
}

//!SPARA
.container-3 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.vector-62 {
  width: 0.7rem;
  height: 0.8rem;
}
