//Style för buttons

//Visa alla style
// Denna jobbar jag på att sortera upp vart den ska vara, lite av den finns i layout redan
.show-all-container {
  .show-all-link {
    display: flex;
    align-items: center;
    font-size: 1rem;

    .show-all-text {
      text-decoration: underline;
    }
  }
}
.ShowMoreBtn {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
  padding-top: 0.813rem;
}
.showMoreBtn-pt {
  padding-top: 1.78rem;
}
.seeAllPicBtn {
  display: flex;
  width: 9.75rem;
  padding: 0.75rem 1.8125rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.3rem;
  border: 0.1rem solid $black500;
  white-space: nowrap;
  padding: 0.75rem 2rem;
  color: $text-Black;
}
.btnBookWebsite {
  border-radius: 6.3rem;
  display: flex;
  padding: 0.75rem 1.8125rem;
  justify-content: space-between;
  align-items: center;
  background-color: #485c55;
  max-width: 230px;

  .openNewIcon {
    color: white;
    font-size: 20px;
    color: white;
    font-weight: 400;
  }
}

.btn-ok {
  display: block;
  width: 100%;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #485c55;
  background-color: #485c55;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
  &.outlined {
    background-color: transparent;
    color: #485c55;
  }
}
