//!Mapp korten
.folder-card {
  display: flex;
  flex: 0 0 calc(100% / 2 - 0.5rem);
  flex-direction: column;

  .bigFolder-picBox {
    display: flex;
    gap: 0.25rem;
    flex: 1;
    // width: 156px;
    // height: 160px;
    .folderHighPic-box {
      width: 76px;
      // min-height: 160px;
      img {
        height: 100%;
      }
    }
    .twoPix-box {
      display: flex;
      //flex-direction: column;
      flex-wrap: wrap;
      flex: inherit;
      gap: 0.25rem;
      .folder-open {
        position: relative;
        //background-image: url("/assets/img/camping.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // margin-bottom: 0.8rem;
        // display: flex;
        // padding: 0.5rem 0 0 0.5rem;
        // min-height: 9.4rem;
        // width: 76px;
        .group-pill {
          //backdrop-filter: blur(10px);
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(10px);
          padding: 0.25rem 0.5rem;
          right: 0.5rem;
          position: absolute;

          top: 0.5rem;

          // top: 1rem;
          //right: 1rem;
          p {
            color: white;
            padding-right: 0.219rem;
            //font-size: 12px;
            padding-top: 0.1rem;
          }
          .groupPic-icon {
            //position: absolute;
            //top: 0;
            //right: 0;
            color: #fafafa;
            font-size: 1rem;
          }
        }

        // .share-icon-box {
        //   border-radius: 6.3rem;
        //   background: #ffffff;
        //   margin-bottom: 4.1rem;
        //   padding: 0.5rem 0.3rem 0.4rem 0.3rem;
        //   height: 2rem;
        //   width: 2rem;
        // }
      }
    }
  }
}
