//!Mapp korten
.folder-card {
  display: flex;
  flex: 0 0 calc(100% / 2 - 0.5rem);
  flex-direction: column;

  .bigFolder-picBox {
    display: flex;
    gap: 0.25rem;
    flex: 1;

    .folderHighPic-box {
      width: 76px;

      img {
        height: 100%;
      }
    }
    .twoPix-box {
      display: flex;

      flex-wrap: wrap;
      flex: inherit;
      gap: 0.25rem;
      .folder-open {
        position: relative;

        .group-pill {
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(10px);
          padding: 0.25rem 0.5rem;
          right: 0.5rem;
          position: absolute;

          top: 0.5rem;

          p {
            color: white;
            padding-right: 0.219rem;

            padding-top: 0.1rem;
          }
          .groupPic-icon {
            color: #fafafa;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
