.overlay {
  position: sticky;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: none;
  height: 100%;

  &.show {
    display: block;
  }

  .popup-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5rem;
    left: 1rem;
    right: 1rem;
    background-color: $white-color;
    padding: 1rem;
    border-radius: 0.375rem;

    .ckeckbox {
      right: 0;
      height: 25px;
      width: 25px;
      background-color: #5e803c;
      border-radius: 50%;
      position: relative;

      .checkmark {
        position: absolute;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &::before {
        content: "";
        position: absolute;
        left: 40%;
        top: 30%;
        transform: translate(-50%, -50%);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    span {
      padding-left: 0.5rem;
    }
  }
}