//!kortet i savedDestinations
.card-box {
  display: flex;
  flex: 1 0 auto;

  flex-wrap: wrap;
  justify-content: space-between;

  .card-medium {
    margin: 0.75rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);

    //!Mellanrummen mellan korten
    @media (min-width: 375px) {
      flex: 0 0 calc(100% / 2 - 0.5rem);
    }

    .card-img {
      background-size: cover;
      position: relative;

      width: 9rem;
      height: 7.4rem;
      flex: 1;

      gap: 1rem;
      .heartBox {
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;

        font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
        color: #ffffff;
        display: flex;
        width: 1.875rem;
        height: 1.875rem;
        justify-content: center;
        align-items: center;
        border-radius: 6.25rem;
        background: rgba(0, 0, 0, 0.15);

        /* Name tag BLUR */
        backdrop-filter: blur(10px);
        .heartIcon-card {
          font-size: 1rem;
        }
      }
    }
    .contentSaved-Box {
      padding-left: 8px;
      padding-top: 0.88rem;
      .circle-box {
        margin-bottom: 0.8rem;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        column-gap: 0.2rem;

        width: 3.9rem;
        box-sizing: border-box;
        .ellipse-11 {
          border-radius: 0.3rem;
          background: #e7ae4d;
          width: 0.4rem;
          height: 0.4rem;
        }
      }
    }

    .txtChips-box {
      display: flex;
      flex-direction: column;
      .about-box {
        margin-bottom: 0.8rem;
        display: flex;
        flex-direction: column;
      }

      .headline {
        margin-bottom: 0.3rem;
      }
    }
  }
}
