//! sektionen saved resorts på index sidan
    .saved-resort {
      flex: 0 0 calc((100% / 2) - (((2 - 1) / 2) * 1rem));
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 2.75rem;
      width: 10rem;
      figure {
        width: 2.75rem;
        height: 2.75rem;
        img {
          height: 100%;
          width: 100%;
        }
      }

      //padding-right: 1rem;
      p {
        white-space: nowrap;
        //padding-right: 0.875rem;
        padding-right: 0.375rem;
      }
    }

  //! Vissa alla knappen
  .showAll {
    background: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    .arrow-forrward-icon {
      width: 1rem;
      height: 1rem;
    }
  }
