.searchFilter-box {
  display: flex;
  justify-content: space-between;

  #search-bar {
    position: relative;
    flex: 0 0 78%;
    #header-search {
      padding: 1rem 1.5rem 1rem 3rem;
      border-radius: 100px;
      border: 1px solid #9e9e9e;
      background-color: $white;
      width: 105%;
      font-size: 0.75rem;
      font-family: "SwedenSansBook", arial, sans-serif;

      &.focus-border {
        border: 1px solid #141414;
        outline: none;
      }
    }
    #header-search::placeholder {
      font-size: 12px;
    }
    #btn-search {
      position: absolute;
      left: 0.8rem;
      top: 0.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .filter-box {
    flex: 0 0 20%;
  }
}
.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid #f2f2f2;
}
