.suggestion-section {
  display: flex;
  flex-wrap: wrap;

  .suggestion-cards {
  }

  .inspoTxtBox {
    //! TYpografia som ska flyttas till typografi partials
    h1 {
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }

    h2 {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}
