// .icon-mapp-box {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;

//   .text-box-saved-maps {
//     margin-bottom: 2rem;
//     display: flex;
//     justify-content: center;
//     flex: 1;
//     align-items: center;

//     .saved-box,
//     .maps-box {
//       display: flex;
//       flex: 0 0 50%;
//       border: 1px solid black;
//       text-align: center;
//       padding: 0.625rem;
//       justify-content: center;

//       &:active,
//       &.active {
//         background-color: black;
//         color: white;
//       }
//     }
//   }
// }
.icon-mapp-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .text-box-saved-maps {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;

    .saved-box,
    .maps-box {
      display: flex;
      flex: 0 0 50%;
      border: 1px solid #485c55;
      text-align: center;
      padding: 0.625rem;
      justify-content: center;
      //align-items: center;
      cursor: pointer; // Add a pointer cursor to indicate clickability
    }

    .active {
      background-color: #485c55;
      color: white;
      transition: background-color 0.7s ease;
    }
  }
}
