// COLORS
// PRIMARY BACKGROUND
$primary-BG: #fafafa;
// PRIMARY COLORS
$skogsgron600: #485c55;
$skogsgron200: #96b5aa;
// ACCENTCOLORS
// Guldkorn
$guldkorn600: #e7ae4d;
// Djupsjö
$djupsjo600: #333a4c;
$djupsjo400: #9bb1ea;
// Trädstam
$tradstam600: #594e2a;
$tradstam400: #7d7046;
// Sandstrand
$sandstrand600: #70735b;
$sandstrand400: #cdd0b6;
// Granskott
$granskott600: #889583;
$granskott400: #b9ceb0;
// ___
// TEXT COLORS
$text-White: white;
$text-Black: black;
// NEUTRALS
$black500: #0c0c0c;
$greyblack: #3d3d3d;
$grey: #6d6d6d;
$lightgrey: #9e9e9e;
$greywhite: #cecece;
$white: #fafafa;
.h1-color {
  color: $skogsgron600;
}
