// COLORS
// PRIMARY BACKGROUND
$primary-BG: #fafafa;
// PRIMARY COLORS
$skogsgron600: #485c55;
$skogsgron200: #96b5aa;
// ACCENTCOLORS
// Guldkorn
$guldkorn600: #e7ae4d;
// Djupsjö
$djupsjo600: #333a4c;
$djupsjo400: #9bb1ea;
// Trädstam
$tradstam600: #594e2a;
$tradstam400: #7d7046;
// Sandstrandheter numera Björklöv
$sandstrand600: #70735b;
$sandstrand400: #cdd0b6;
// Granskott
$granskott600: #889583;
$granskott400: #b9ceb0;
// ___
// TEXT COLORS
$text-White: white;
$text-Black: black;
// NEUTRALS
$black500: #0c0c0c;
$greyblack: #3d3d3d;
$grey: #6d6d6d;
$lightgrey: #9e9e9e;
$greywhite: #cecece;
$white: #fafafa;
.h1-color {
  color: $skogsgron600;
}
// Färg för chipsfilter delarna, separata färger
.chipsFilter {
  &:nth-child(1) {
    border: 0.1rem solid $skogsgron600;
  }
  &:nth-child(2) {
    border: 0.1rem solid $djupsjo600;
  }
  &:nth-child(3) {
    border: 0.1rem solid $sandstrand600;
  }
  &:nth-child(4) {
    border: 0.1rem solid $djupsjo600;
  }
}
.unikaboenden {
  color: $skogsgron600;
}
.unikaboenden-txt {
  color: $skogsgron600;
}
.water {
  color: $djupsjo600;
}
.water-txt {
  color: $djupsjo600;
}
.childcare {
  color: $sandstrand600;
}
.childcare-txt {
  color: $sandstrand600;
}
// ejtillatet fungerar redan med sin SVG färg
.ejtillatet-txt {
  color: $djupsjo600;
}
