// COLORS
// PRIMARY BACKGROUND
$primary-BG: #fafafa;
// PRIMARY COLORS
$skogsgron300: #485C55;
$skogsgron200: #96B5AA;
// ACCENTCOLORS
// Guldkorn
$guldkorn600: #E7AE4D;
// Djupsjö
$djupsjo600: #333A4C;
$djupsjo400: #9BB1EA;
// Trädstam
$tradstam600: #594E2A;
$tradstam400: #7D7046;
// Sandstrand
$sandstrand600: #8B8F73;
$sandstrand400: #CDD0B6;
// Granskott
$granskott600: #889583;
$granskott400: #B9CEB0;
// ___
// TEXT COLORS
$text-White: white;
$text-Black: black;

// NEUTRALS
$black500: #0C0C0C;
$greyblack: #3d3d3d;
$grey: #6d6d6d;
$lightgrey: #9e9e9e;
$greywhite: #cecece;
$white: #fafafa;