// Lägg in effekter så som blur här
.blurEffect-Light {
  border-radius: var(--Border-radius-Radius-full, 9999px);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.blurEffect-Dark {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
// style på de gula cirklarna
.circle-box {
  margin-bottom: 0.8rem;
  margin-top: 0.75rem;
  display: flex;

  align-self: flex-start;
  column-gap: 0.2rem;
  width: 3.9rem;
  &.detailpagcircles {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .ellipse {
    border-radius: 0.3rem;
    background: #e7ae4d;
    width: 0.6rem;
    height: 0.6rem;
    &.border {
      border: 1px solid #e7ae4d;
      background-color: white;
    }
  }
}
