//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  margin-top: 4.25rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.card {
  h2 {
  }
}

.saved-resorts {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
}
//!visa alla i index
.show-all {
  margin-right: 0.8rem;
  font-weight: 400;
  font-size: 1rem;
  color: #141414;
  text-decoration: none;
}

.textbox-suggestions {
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111010;
  }
}
