//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  margin-top: 4.25rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.card {
  h2 {
  }
}

.saved-resorts {
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
}
//!visa alla i index
.show-all {
  margin-right: 0.8rem;
  font-weight: 400;
  font-size: 1rem;
  color: #141414;
  text-decoration: none;
}
//! Förslag på resmål text
.textbox-suggestions {
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111010;
  }
}
//! Informationen i stora kortet
.information-box {
  font-size: 0.8rem;
  color: #141414;

  h3 {
    margin-bottom: 0.3rem;

    font-weight: 400;
    font-size: 1.3rem;
  }
}
//! p text i chips filter, stort kort
.chips-filter {
  p {
    font-size: 0.8rem;
    color: #141414;
    padding-left: 0.2rem;
  }
}
//! Logga in knappen account sidan

.logo {
  margin: 0 0.1rem 7.5rem 0;
  font-size: 3rem;
}
.btn-txt-box {
  p {
    font-size: 0.8rem;
  }
  .sign-in {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
  }
  .createAccount {
    font-size: 1.3rem;
  }
}
.chipsFilter {
  p {
    font-size: 0.75rem;
  }
}

//!Profilnamn
.h1-saved {
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
  margin-top: 0.5rem;
}
//! Text stylen längst ner på hjärtat, vänner och inställningar
.iconTxt-containerBtm {
  font-weight: 500;
  font-size: 1rem;
  color: #040404;
}

//! Till medium kort
.short-infoTxt {
  font-size: 0.8rem;
  color: #141414;
}
//!Lilla texten i mappkortet
.saved-accommodations {
  font-size: 0.8rem;
  color: #141414;
}

.treehouses {
  font-size: 0.6rem;
  color: #141414;
}

//! verkar som denna kanske ej kopplar? får kolla över detta
.map-txt {
  .mapTxt-headline {
    margin-bottom: 0.3rem;
    //display: inline-block;
    align-self: flex-start;
    font-weight: 500;
    font-size: 1rem;
    color: #141414;
  }
}
