//Style för all typografi, dvs lägg inget som har med typ i någon annan partial
//Eftersom vi har nollställt all style, så kommer all text per default bli 16px, dvs ni måste bestämma storlek på allt
@font-face {
  font-family: SwedenSansBook;
  src: url(font/SwedenSansBook.otf);
}
@font-face {
  font-family: SwedenSansRegular;
  src: url(font/SwedenSansRegular.otf);
}
@font-face {
  font-family: SwedenSansSemiBold;
  src: url(font/SwedenSansSemiBold.otf);
}
@font-face {
  font-family: SwedenSansBold;
  src: url(font/SwedenSansBold.otf);
}
body {
  font-family: "SwedenSansBold", arial, sans-serif;
  font-style: normal;
}
// a-taggarnas stik
a,
.link-tagg {
  display: block;
  text-decoration: none;
  color: black;
}
// STYLES FRÅN FIGMA
.heading {
  font-size: 1rem;
}
.heading_1 {
  font-size: 3rem;
}
.heading_2 {
  font-size: 2rem;
  line-height: 110%;
}
.heading_3 {
  font-size: 1.75rem;
}
.heading_4 {
  font-size: 1.25rem;
}
.heading_5 {
  font-size: 1.125rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}
.bodyMD-Bold {
  font-size: 1rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}
.bodyMD {
  font-size: 1rem;
  line-height: 135%;
  font-family: "SwedenSansBook", arial, sans-serif;
  padding-top: 1.8px;
}
// Typografin på de frostade rutorna i start
.body-mini {
  font-size: 0.875rem;
  font-family: "SwedenSansRegular", arial, sans-serif;
  white-space: nowrap;
}
.bodySM {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.bodySM-Bold {
  font-size: 0.875rem;

  font-family: "SwedenSansBold", arial, sans-serif;
}
.bodyXS {
  font-size: 0.75rem;
  font-family: "SwedenSansBook", arial, sans-serif;
}
.bodyXS-Bold {
  font-size: 0.75rem;
  font-family: "SwedenSansBold", arial, sans-serif;
}
.bodyXS-Semibold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}
.bodySM-SemiBold {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}
.badge {
  font-size: 0.75rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}
// Button primary fungerar på både Outlined/Filled
// Gör mixin av denna eller gör en button-primary på button styling i button.scss
.button-primary {
  font-size: 1rem;
}
.buttonText {
  font-size: 1rem;
  font-family: "SwedenSansSemiBold", arial, sans-serif;
}
.button {
  font-size: 1rem;
  font-family: "SwedenSansBook", arial, sans-serif;
  letter-spacing: 1px;
  color: white;
  white-space: nowrap;
  padding-top: 3px;
}
// tillfälligt namn för <span>??
.link_1 {
  font-family: SwedenSansBook;
  font-size: 0.87rem;
}
// Denna sätts på minikorten "dina sparade besöksmål" tillfälligt i index alltså
.p-card-mini {
  font-family: SwedenSansBook;
  font-size: 0.75rem;
}
// här stylas den aktiva klassen i naven
.menu-link {
  p {
    font-size: 0.75rem;
    font-family: "SwedenSansBook", arial, sans-serif;
    &.active-text {
      font-size: 0.75rem;
      font-family: "SwedenSansSemiBold", arial, sans-serif;
    }
  }
}
.upperCASE {
  text-transform: uppercase;
}

//!! får ta bort dessa sen här nere ---
.card {
  h2 {
  }
}

.saved-resorts {
  p {
    font-size: 0.75rem;
  }
}

//! Förslag på resmål text
.textbox-suggestions {
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111010;
  }
}

//! Informationen i stora kortet
.information-box {
  font-size: 0.8rem;
  color: #141414;

  h3 {
    margin-bottom: 0.3rem;

    font-weight: 400;
    font-size: 1.3rem;
  }
}

//! p text i chips filter, stort kort
.chips-filter {
  p {
    font-size: 0.8rem;
    color: #141414;
    padding-left: 0.2rem;
  }
}

//! Logga in knappen account sidan

.logo {
  margin: 0 0.1rem 7.5rem 0;
  font-size: 3rem;
}

.btn-txt-box {
  p {
    font-size: 0.8rem;
  }

  .sign-in {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
  }

  .createAccount {
    font-size: 1.3rem;
  }
}

.chipsFilter {
  p {
    font-size: 0.75rem;
  }
}

//!Profilnamn
.h1-saved {
  font-weight: 400;
  font-size: 1.5rem;
  color: #111010;
  margin-top: 0.5rem;
}

//! Text stylen längst ner på hjärtat, vänner och inställningar
.iconTxt-containerBtm {
  font-weight: 500;
  font-size: 1rem;
  color: #040404;
}

//! Till medium kort
.short-infoTxt {
  font-size: 0.8rem;
  color: #141414;
  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
}

//!Lilla texten i mappkortet
.saved-accommodations {
  font-size: 0.8rem;
  color: #141414;
}

// .treehouses {
//   font-size: 0.6rem;
//   color: #141414;
// }

//! verkar som denna kanske ej kopplar? får kolla över detta
.map-txt {
  .mapTxt-headline {
    margin-bottom: 0.3rem;
    //display: inline-block;
    align-self: flex-start;
    font-weight: 500;
    font-size: 1rem;
    color: #141414;
  }
}
