.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main {
    padding: 1rem;
}
.show-all-container {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    &.start{
        justify-content: space-between;
    }
}
.saved-resorts-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}