body {
  // background: url(/assets/img/erikson\ cottage.jpg);
  //background-color: green;

  //background-repeat: no-repeat;
  background-color: #fcfcfc;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container-mobil {
  // margin: auto;
  // margin-top: 4rem;
  width: 390px;
  height: 884px;
  overflow: auto;
  //overflow: hidden;
  position: relative;
  //!Här tog jag in mer kod
  // width: 375px;
  // height: 700px;
  border-radius: 30px;
  background-color: #fbfbfb;
  box-shadow: 0 0 60px 10px rgba(70, 70, 70, 0.03),
    -10px 10px 50px rgba(0, 0, 0, 0.1), -50px 50px 70px rgba(0, 0, 0, 0.05),
    -100px 100px 100px rgba(0, 0, 0, 0.03),
    -150px 150px 150px rgba(0, 0, 0, 0.02);
  .front-speaker {
    width: 50px;
    height: 7px;
    border-radius: 10px;
    background-color: #f3f3f3;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.container-mobil::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.container-mobil {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bottom-menu-container {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  // Style från Figma
  border-top: 1px solid #e9e9e9;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  .bottom-menu {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    .menu-item {
      flex: 1 0 auto;
      display: flex;
      .menu-link {
        padding: 0.5rem 0rem;
        flex: 1;
        text-decoration: none;
        text-align: center;
        .nav-p {
          font-size: 0.75rem;
          font-family: "SwedenSansBook", arial, sans-serif;
        }
        .active-text {
          font-size: 0.75rem;
          font-family: "SwedenSansBold", arial, sans-serif;
          color: $skogsgron600;
        }
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 28;
          // top, right, bottom, left
          // padding: 0rem 0rem 0rem 0rem;
          margin-bottom: 0.5rem;
        }
        .nav-icons {
          // här är storlek "utforska", då den är en svg och egenskapad av material designs
          height: 24px;
          fill: $skogsgron600;
          margin-bottom: 0.5rem;
        }
        .active-icon {
          font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 28;
          color: $skogsgron600;
        }
        .navSearchIcon {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
