.container-mobil {
  margin: auto;
  margin-top: 8rem;
  width: 375px;
  height: 667px;
  overflow: auto;
  position: relative;
}
.bottom-menu-container {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  // Style från Figma
  border-top: 1px solid #e9e9e9;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  .bottom-menu {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    .menu-item {
      flex: 1 0 auto;
      display: flex;
      .menu-link {
        padding: 0.5rem 0rem;
        flex: 1;
        text-decoration: none;
        text-align: center;
        .nav-p {
          font-size: 0.75rem;
          font-family: "SwedenSansBook", arial, sans-serif;
        }
        .active-text {
          font-size: 0.75rem;
          font-family: "SwedenSansBold", arial, sans-serif;
          color: $skogsgron600;
        }
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 28;
          // top, right, bottom, left
          // padding: 0rem 0rem 0rem 0rem;
          margin-bottom: 0.5rem;
        }
        .nav-icons {
          // här är storlek "utforska", då den är en svg och egenskapad av material designs
          height: 24px;
          fill: $skogsgron600;
          margin-bottom: 0.5rem;
        }
        .active-icon {
          font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 28;
          color: $skogsgron600;
        }
        .navSearchIcon {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
