//!Sektionen för suggestions index sidan
.suggestions-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;

  .textbox-suggestions {
    h2 {
      font-size: 1.5rem;
    }
  }

  .suggestionCard-box {
  }
}
